In [34]:
import pandas as pd
pd.set_option('display.max_columns', None)
import ast

import functions

In [35]:
transaction = pd.read_csv("C:/Users/aprataso/Downloads/final_data/trans.csv")
prod = pd.read_csv("C:/Users/aprataso/Downloads/final_data/prod.csv")

In [36]:
merger = transaction.merge(prod, on = 'product_id', how = 'left')

In [37]:
merger

,household_key,basket_id,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,transaction_date,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0,1.49,1.99,1.39,1,2021-01-01,69,PRODUCE,Private,POTATOES,POTATOES RUSSET (BULK&BAG),5 LB,5.0,LB
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0,0.88,0.82,0.82,1,2021-01-01,2,PRODUCE,National,ONIONS,ONIONS SWEET (BULK&BAG),40 LB,40.0,LB
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0,1.06,1.29,0.99,1,2021-01-01,69,PRODUCE,Private,VEGETABLES - ALL OTHERS,CELERY,,NaN,
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0,1.29,1.21,1.21,1,2021-01-01,2,PRODUCE,National,TROPICAL FRUIT,BANANAS,40 LB,40.0,LB
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0,1.61,1.89,1.50,1,2021-01-01,69,PRODUCE,Private,ORGANICS FRUIT & VEGETABLES,ORGANIC CARROTS,1 LB,1.0,LB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595727,1598,42305362535,711,92130,1,0.99,3228,0.00,1520,102,0.0,0.0,1.06,0.99,0.99,711,2022-12-12,560,GROCERY,National,MARGARINES,MARGARINE: TUBS AND BOWLS,16 OZ,16.0,OZ
2595728,1598,42305362535,711,114102,1,8.89,3228,0.00,1520,102,0.0,0.0,9.51,8.89,8.89,711,2022-12-12,2398,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ
2595729,1598,42305362535,711,133449,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12,2468,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ
2595730,1598,42305362535,711,6923644,1,4.50,3228,-0.49,1520,102,0.0,0.0,4.82,4.99,4.50,711,2022-12-12,2390,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,4PK/10 OZ,4.0,PK/ OZ
2595731,1598,42305362535,711,14055192,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12,2536,GROCERY,National,MISC WINE,BEERALEMALT LIQUORS,6PK/11.2OZ,6.0,PK/.OZ

reducing departments

In [38]:
print(merger['department'].unique())

replacement_mapping = {
    'MEAT': 'Meat',
    'MEAT-PCKGD': 'Meat',
    'MEAT-WHSE': 'Meat',
    'PORK': 'Meat',
    'SEAFOOD': 'Seafood',
    'SEAFOOD-PCKGD': 'Seafood',
    'FROZEN GROCERY': 'Groceries',
    'PRODUCE': 'Groceries',
    'GROCERY': 'Groceries',
    'NUTRITION': 'Groceries',
    'GRO BAKERY': 'Bakery',
    'PASTRY': 'Bakery'
}

merger['department'] = merger['department'].replace(replacement_mapping)

['PRODUCE' 'GROCERY' 'DRUG GM' 'MEAT' 'MEAT-PCKGD' 'DELI' 'SEAFOOD-PCKGD'
 ' ' 'PASTRY' 'NUTRITION' 'VIDEO RENTAL' 'MISC SALES TRAN' 'FLORAL'
 'SEAFOOD' 'SALAD BAR' 'AUTOMOTIVE' 'SPIRITS' 'COSMETICS' 'MISC. TRANS.'
 'GARDEN CENTER' 'CHEF SHOPPE' 'TRAVEL & LEISUR' 'COUP/STR & MFG'
 'KIOSK-GAS' 'FROZEN GROCERY' 'RESTAURANT' 'HOUSEWARES' 'PORK'
 'POSTAL CENTER' 'GM MERCH EXP' 'CNTRL/STORE SUP' 'PROD-WHS SALES'
 'DAIRY DELI' 'HBC' 'CHARITABLE CONT' 'RX' 'DELI/SNACK BAR'
 'PHARMACY SUPPLY' 'PHOTO' 'ELECT &PLUMBING' 'MEAT-WHSE' 'TOYS'
 'GRO BAKERY' 'VIDEO']

In [39]:
merger

,household_key,basket_id,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,transaction_date,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0,1.49,1.99,1.39,1,2021-01-01,69,Groceries,Private,POTATOES,POTATOES RUSSET (BULK&BAG),5 LB,5.0,LB
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0,0.88,0.82,0.82,1,2021-01-01,2,Groceries,National,ONIONS,ONIONS SWEET (BULK&BAG),40 LB,40.0,LB
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0,1.06,1.29,0.99,1,2021-01-01,69,Groceries,Private,VEGETABLES - ALL OTHERS,CELERY,,NaN,
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0,1.29,1.21,1.21,1,2021-01-01,2,Groceries,National,TROPICAL FRUIT,BANANAS,40 LB,40.0,LB
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0,1.61,1.89,1.50,1,2021-01-01,69,Groceries,Private,ORGANICS FRUIT & VEGETABLES,ORGANIC CARROTS,1 LB,1.0,LB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595727,1598,42305362535,711,92130,1,0.99,3228,0.00,1520,102,0.0,0.0,1.06,0.99,0.99,711,2022-12-12,560,Groceries,National,MARGARINES,MARGARINE: TUBS AND BOWLS,16 OZ,16.0,OZ
2595728,1598,42305362535,711,114102,1,8.89,3228,0.00,1520,102,0.0,0.0,9.51,8.89,8.89,711,2022-12-12,2398,Groceries,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ
2595729,1598,42305362535,711,133449,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12,2468,Groceries,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ
2595730,1598,42305362535,711,6923644,1,4.50,3228,-0.49,1520,102,0.0,0.0,4.82,4.99,4.50,711,2022-12-12,2390,Groceries,National,BEERS/ALES,BEERALEMALT LIQUORS,4PK/10 OZ,4.0,PK/ OZ
2595731,1598,42305362535,711,14055192,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12,2536,Groceries,National,MISC WINE,BEERALEMALT LIQUORS,6PK/11.2OZ,6.0,PK/.OZ

In [40]:
agg_funcs = {
    'day': list,  # Assuming the day is the same for each basket
    #'basket_id': list,
    'product_id': list,  
    'quantity': lambda x: x.tolist(),   
    'sales_value': list,  
    'store_id': 'first',  
    'retail_disc':  'mean',  
    'trans_time': 'first', 
    'week_no': 'first',  
    'coupon_disc':  'mean',  
    'coupon_match_disc':  'mean',  
    'sales_value_eu':list,  
    'loyalty_card_price': list,  
    'non_loyalty_card_price': list, 
    'days_': 'first',  
    'transaction_date': 'first', 
    'manufacturer': list,  
    'department': list, 
    'brand': list,  
    'commodity_desc': list, 
    'sub_commodity_desc': list #,
    #'curr_size_of_product': list,  
    #'curr_size_of_product_value': list,  
    #'curr_size_of_product_units': list  
}

# Group by household_key and basket_id and apply aggregations
grouped_df = merger.groupby(['household_key']).agg(agg_funcs).reset_index()

grouped_df['first_transaction_date'] = grouped_df['transaction_date']
grouped_df = grouped_df.drop('transaction_date', axis = 1)
grouped_df.head(2)

,household_key,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,manufacturer,department,brand,commodity_desc,sub_commodity_desc,first_transaction_date
0,1,"[51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 5...","[825123, 831447, 840361, 845307, 852014, 85498...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...","[3.99, 2.99, 1.09, 3.71, 2.79, 7.19, 2.5, 1.49...",436,-0.403613,1456,8,-0.046647,-0.015142,"[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[3.99, 2.99, 1.39, 4.33, 3.99, 8.49, 2.99, 1.4...","[3.99, 2.99, 1.09, 3.71, 2.79, 7.19, 2.5, 1.49...",51,"[1179, 317, 69, 4084, 69, 1011, 159, 407, 2082...","[Groceries, Groceries, Groceries, DELI, Grocer...","[National, National, Private, National, Privat...","[SALD DRSNG/SNDWCH SPRD, CHEESE, EGGS, DELI ME...","[SEMI-SOLID SALAD DRESSING MAY, SHREDDED CHEES...",2021-02-20
1,2,"[103, 103, 103, 103, 103, 103, 103, 103, 103, ...","[854852, 930118, 1077555, 1098066, 5567388, 55...","[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...","[0.65, 4.47, 1.0, 0.79, 2.5, 2.5, 2.5, 5.0, 3....",401,-0.469174,1904,15,-0.012605,0.000000,"[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[0.65, 9.5, 1.59, 0.99, 4.69, 4.69, 4.69, 4.69...","[0.65, 4.47, 1.0, 0.79, 2.5, 2.5, 2.5, 2.5, 3....",103,"[2, 2, 69, 69, 1208, 1208, 1208, 1208, 1323, 6...","[Groceries, Groceries, Groceries, Groceries, G...","[National, National, Private, Private, Nationa...","[TOMATOES, STONE FRUIT, MILK BY-PRODUCTS, BAKE...","[TOMATOES HOTHOUSE ON THE VINE, CHERRIES RED, ...",2021-04-13

In [41]:
unique_departments = set(dept for sublist in grouped_df['department'] for dept in sublist)

# Iterate over each row and compute department quantities
for dept in unique_departments:
    grouped_df[dept + '_quantity'] = grouped_df.apply(
        lambda row: sum(q for d, q in zip(row['department'], row['quantity']) if d == dept),
        axis=1
    )


grouped_df.head(2)

,household_key,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,manufacturer,department,brand,commodity_desc,sub_commodity_desc,first_transaction_date,RX_quantity,AUTOMOTIVE_quantity,SALAD BAR_quantity,GARDEN CENTER_quantity,DELI/SNACK BAR_quantity,Groceries_quantity,KIOSK-GAS_quantity,VIDEO_quantity,PROD-WHS SALES_quantity,TOYS_quantity,HOUSEWARES_quantity,DRUG GM_quantity,HBC_quantity,MISC. TRANS._quantity,SPIRITS_quantity,PHARMACY SUPPLY_quantity,COSMETICS_quantity,RESTAURANT_quantity,CNTRL/STORE SUP_quantity,CHEF SHOPPE_quantity,FLORAL_quantity,ELECT &PLUMBING_quantity,TRAVEL & LEISUR_quantity,Bakery_quantity,POSTAL CENTER_quantity,CHARITABLE CONT_quantity,DELI_quantity,Seafood_quantity,MISC SALES TRAN_quantity,COUP/STR & MFG_quantity,GM MERCH EXP_quantity,DAIRY DELI_quantity,VIDEO RENTAL_quantity,_quantity,Meat_quantity,PHOTO_quantity
0,1,"[51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 5...","[825123, 831447, 840361, 845307, 852014, 85498...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...","[3.99, 2.99, 1.09, 3.71, 2.79, 7.19, 2.5, 1.49...",436,-0.403613,1456,8,-0.046647,-0.015142,"[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[3.99, 2.99, 1.39, 4.33, 3.99, 8.49, 2.99, 1.4...","[3.99, 2.99, 1.09, 3.71, 2.79, 7.19, 2.5, 1.49...",51,"[1179, 317, 69, 4084, 69, 1011, 159, 407, 2082...","[Groceries, Groceries, Groceries, DELI, Grocer...","[National, National, Private, National, Privat...","[SALD DRSNG/SNDWCH SPRD, CHEESE, EGGS, DELI ME...","[SEMI-SOLID SALAD DRESSING MAY, SHREDDED CHEES...",2021-02-20,0,0,13,0,0,1538,0,0,0,0,0,201,0,0,0,0,0,3,0,0,1,0,0,49,0,0,68,0,2,0,0,0,0,0,122,0
1,2,"[103, 103, 103, 103, 103, 103, 103, 103, 103, ...","[854852, 930118, 1077555, 1098066, 5567388, 55...","[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...","[0.65, 4.47, 1.0, 0.79, 2.5, 2.5, 2.5, 5.0, 3....",401,-0.469174,1904,15,-0.012605,0.000000,"[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[0.65, 9.5, 1.59, 0.99, 4.69, 4.69, 4.69, 4.69...","[0.65, 4.47, 1.0, 0.79, 2.5, 2.5, 2.5, 2.5, 3....",103,"[2, 2, 69, 69, 1208, 1208, 1208, 1208, 1323, 6...","[Groceries, Groceries, Groceries, Groceries, G...","[National, National, Private, Private, Nationa...","[TOMATOES, STONE FRUIT, MILK BY-PRODUCTS, BAKE...","[TOMATOES HOTHOUSE ON THE VINE, CHERRIES RED, ...",2021-04-13,0,0,0,0,0,634,0,0,0,0,0,110,0,0,0,0,5,0,0,0,1,0,0,11,0,0,13,1,2,0,0,0,0,0,57,0

In [42]:
grouped_df['quantity'].apply(functions.find_non_numeric_values)

0       []
1       []
2       []
3       []
4       []
        ..
2495    []
2496    []
2497    []
2498    []
2499    []
Name: quantity, Length: 2500, dtype: object

In [43]:
'''from collections import Counter

selected_household = grouped_df[grouped_df['household_key'] == 1]

# Extract the department lists for the selected household
departments_list = selected_household['department'].iloc[0]
quantities_list = selected_household['quantity'].iloc[0]

# Create a dictionary to store total quantities per department
department_quantities = {}
for dept, qty in zip(departments_list, quantities_list):
    if dept in department_quantities:
        department_quantities[dept] += qty
    else:
        department_quantities[dept] = qty

# Display the total quantity per department
print("Total quantity per department for household_key 1:")
for department, total_qty in department_quantities.items():
    print(f"{department}: {total_qty}")'''

'from collections import Counter\n\nselected_household = grouped_df[grouped_df[\'household_key\'] == 1]\n\n# Extract the department lists for the selected household\ndepartments_list = selected_household[\'department\'].iloc[0]\nquantities_list = selected_household[\'quantity\'].iloc[0]\n\n# Create a dictionary to store total quantities per department\ndepartment_quantities = {}\nfor dept, qty in zip(departments_list, quantities_list):\n    if dept in department_quantities:\n        department_quantities[dept] += qty\n    else:\n        department_quantities[dept] = qty\n\n# Display the total quantity per department\nprint("Total quantity per department for household_key 1:")\nfor department, total_qty in department_quantities.items():\n    print(f"{department}: {total_qty}")'

In [44]:
'''grouped_df[grouped_df['household_key'] == 1]'''

"grouped_df[grouped_df['household_key'] == 1]"

## Join to HH

In [45]:
hh = pd.read_csv("C:/Users/aprataso/Downloads/final_data/treated/hh_treated.csv")
hh

,marital_status_code,homeowner_desc,household_key,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender(s)
0,A,Homeowner,1,married,senior,2.0,False,65.0,42000,0.0,2,2.0
1,A,Homeowner,7,married,middle-aged,2.0,False,49.5,62000,0.0,2,2.0
2,U,Unknown,8,unknown,adult,2.0,True,29.5,29500,1.0,3,2.0
3,U,Homeowner,13,unknown,adult,2.0,True,29.5,87000,2.0,4,2.0
4,U,Homeowner,16,single,middle-aged,1.0,False,49.5,62000,0.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
796,U,Homeowner,2494,unknown,middle-aged,2.0,False,39.5,62000,0.0,2,2.0
797,A,Homeowner,2496,married,middle-aged,2.0,False,49.5,87000,0.0,3,2.0
798,U,Unknown,2497,single,middle-aged,1.0,False,49.5,42000,0.0,1,0.0
799,U,Homeowner,2498,unknown,adult,2.0,False,29.5,62000,0.0,2,2.0
800,U,Unknown,2499,unknown,adult,2.0,True,29.5,15000,1.0,3,2.0

In [60]:
clients = grouped_df.merge(hh, on='household_key', how='left')
clients

,household_key,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,manufacturer,department,brand,commodity_desc,sub_commodity_desc,first_transaction_date,RX_quantity,AUTOMOTIVE_quantity,SALAD BAR_quantity,GARDEN CENTER_quantity,DELI/SNACK BAR_quantity,Groceries_quantity,KIOSK-GAS_quantity,VIDEO_quantity,PROD-WHS SALES_quantity,TOYS_quantity,HOUSEWARES_quantity,DRUG GM_quantity,HBC_quantity,MISC. TRANS._quantity,SPIRITS_quantity,PHARMACY SUPPLY_quantity,COSMETICS_quantity,RESTAURANT_quantity,CNTRL/STORE SUP_quantity,CHEF SHOPPE_quantity,FLORAL_quantity,ELECT &PLUMBING_quantity,TRAVEL & LEISUR_quantity,Bakery_quantity,POSTAL CENTER_quantity,CHARITABLE CONT_quantity,DELI_quantity,Seafood_quantity,MISC SALES TRAN_quantity,COUP/STR & MFG_quantity,GM MERCH EXP_quantity,DAIRY DELI_quantity,VIDEO RENTAL_quantity,_quantity,Meat_quantity,PHOTO_quantity,marital_status_code,homeowner_desc,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender(s)
0,1,"[51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 5...","[825123, 831447, 840361, 845307, 852014, 85498...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...","[3.99, 2.99, 1.09, 3.71, 2.79, 7.19, 2.5, 1.49...",436,-0.403613,1456,8,-0.046647,-0.015142,"[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[3.99, 2.99, 1.39, 4.33, 3.99, 8.49, 2.99, 1.4...","[3.99, 2.99, 1.09, 3.71, 2.79, 7.19, 2.5, 1.49...",51,"[1179, 317, 69, 4084, 69, 1011, 159, 407, 2082...","[Groceries, Groceries, Groceries, DELI, Grocer...","[National, National, Private, National, Privat...","[SALD DRSNG/SNDWCH SPRD, CHEESE, EGGS, DELI ME...","[SEMI-SOLID SALAD DRESSING MAY, SHREDDED CHEES...",2021-02-20,0,0,13,0,0,1538,0,0,0,0,0,201,0,0,0,0,0,3,0,0,1,0,0,49,0,0,68,0,2,0,0,0,0,0,122,0,A,Homeowner,married,senior,2.0,False,65.0,42000.0,0.0,2.0,2.0
1,2,"[103, 103, 103, 103, 103, 103, 103, 103, 103, ...","[854852, 930118, 1077555, 1098066, 5567388, 55...","[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...","[0.65, 4.47, 1.0, 0.79, 2.5, 2.5, 2.5, 5.0, 3....",401,-0.469174,1904,15,-0.012605,0.000000,"[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[0.65, 9.5, 1.59, 0.99, 4.69, 4.69, 4.69, 4.69...","[0.65, 4.47, 1.0, 0.79, 2.5, 2.5, 2.5, 2.5, 3....",103,"[2, 2, 69, 69, 1208, 1208, 1208, 1208, 1323, 6...","[Groceries, Groceries, Groceries, Groceries, G...","[National, National, Private, Private, Nationa...","[TOMATOES, STONE FRUIT, MILK BY-PRODUCTS, BAKE...","[TOMATOES HOTHOUSE ON THE VINE, CHERRIES RED, ...",2021-04-13,0,0,0,0,0,634,0,0,0,0,0,110,0,0,0,0,5,0,0,0,1,0,0,11,0,0,13,1,2,0,0,0,0,0,57,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"[113, 113, 113, 113, 113, 113, 113, 113, 113, ...","[866211, 878996, 882830, 904360, 921345, 93194...","[1, 1, 1, 1, 3, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, ...","[3.08, 1.64, 1.29, 0.99, 5.0, 2.08, 4.0, 1.69,...",401,-0.732278,1549,17,-0.066367,-0.021475,"[3.3, 1.75, 1.38, 1.06, 5.35, 2.23, 4.28, 1.81...","[4.12, 2.19, 1.29, 0.99, 1.99, 1.04, 2.0, 1.69...","[3.08, 1.64, 1.29, 0.99, 1.67, 1.04, 2.0, 1.69...",113,"[2, 2, 764, 673, 1094, 1377, 1071, 910, 69, 2,...","[Groceries, Groceries, Groceries, Groceries, M...","[National, National, National, National, Natio...","[GRAPES, GRAPES, WAREHOUSE SNACKS, VEGETABLES ...","[GRAPES WHITE, GRAPES RED, CANISTER POTATO/TOR...",2021-04-23,0,0,1,0,0,1291,6949,0,0,0,0,107,0,0,0,0,1,0,0,0,0,0,0,1,0,0,6,2,0,0,0,0,0,0,182,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"[104, 104, 104, 104, 104, 104, 104, 104, 104, ...","[836163, 857849, 877523, 878909, 883932, 89142...","[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, ...","[3.0, 0.44, 1.79, 1.5, 1.83, 3.59, 2.0, 0.99, ...",298,-0.384219,1452,16,-0.008306,0.000000,"[3.21, 0.47, 1.92, 1.61, 1.96, 3.84, 2.14, 1.0...","[2.79, 0.89, 1.79, 1.59, 2.49, 3.59, 2.89, 1.1...","[1.5, 0.44, 1.79, 1.5, 1.83, 3.59, 2.0, 0.99, ...",104,"[586, 71, 194, 69, 586, 1075, 69, 1529, 499, 1...","[Groceries, Groceries, Groceries, Groceries, G...","[National, National, National, Private, Nation...","[COOKIES/CONES, MARGARINES, SPICES & EXTRACTS,...","[CHOCOLATE COVERED COOKIES, MARGARINE STICK, ...",2021-04-14,0,0,0,0,0,293,0,0,0,0,0,37,0,0,0,0,2,0,0,0,0,0,0,0,0,0,3,3,0,0,0,0,0,0,44,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"[85, 85, 87, 88, 88, 88, 97, 97, 97, 97, 97, 9...","[938983, 5980822, 1012352, 825538, 1002499, 69...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, ...","[1.99, 2.49, 5.54, 7.59, 2.59, 3.5, 3.34, 6.49...",374,-0.533018,1540,13,0.000000,0.000000,"[2.13, 2.66, 5.93, 8.12, 2.77, 3.75, 3.57, 6.9...","[1.99, 2.49, 7.39, 7.59, 3.49, 3.99, 5.19, 6.4...","[1.99, 2.49, 5.54, 7.59, 2.59, 3.5, 3.34, 6.49...",85,"[5143, 5143, 870, 1216, 410, 5268, 69, 397, 80...","[DRUG GM, DRUG GM, DRUG GM, Meat, Groceries, D...","[National, National, National, National, Natio...","[GREETING CARDS/WRAP/PARTY SPLY, GREETING CARD...","[CARDS SEASONAL, CARDS SEASONAL, SUNBURN AFTER...",2021-03-26,0,0,0,0,0,143,0,0,0,0,0,54,0,0,0,0,2,0,0,0,0,0,0,2,0,0,21,0,0,0,0,0,0,0,23,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,"[117, 117, 117, 117, 117, 117, 117, 117, 117, ...","[840361, 852159, 871756, 886703, 899624, 91612...","[1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 1, 6, 1, 1, 1, ...","[0.79, 3.71, 2.95, 1.09, 2.99, 5.32, 16.24, 1....",370,-0.748885,1345,17,-0.034654,-0.008328,"[0.85, 3.97, 3.16, 1.17, 3.2, 5.69, 17.38, 1.8...","[1.39, 3.71, 3.69, 1.09, 2.99, 6.4, 16.24, 1.9...","[0.79, 3.71, 2.95, 1.09, 2.99, 2.66, 16.24, 1....",117,"[69, 2946, 317, 69, 69, 4314, 2908, 69, 1276, ...","[Groceries, Meat, Groceries, Groceries, Grocer...","[Private, National, National, Private, Private...","[EGGS, BEEF, SALD DRSNG/SNDWCH SPRD, MISC. DAI...","[EGGS - LARGE, CHOICE BEEF, SEMI-SOLID SALAD D...",2021-04-27,0,0,0,0,0,1290,128411,0,0,0,0,173,0,0,1,0,0,0,0,0,0,0,0,27,2,0,37,14,12,0,0,0,0,0,337,0,A,Homeowner,married,middle-aged,2.0,False,49.5,87000.0,0.0,3.0,2.0
2496,2497,"[78, 78, 78, 78, 78, 80, 80, 80, 80, 80, 82, 8...","[838220, 1037840, 1052294, 5569230, 8090537, 1...","[1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, ...","[25.33, 3.04, 29.34, 5.0, 3.34, 7.99, 5.0, 5.0...",339,-0.683502,1121,12,-0.008583,-0.000382,"[27.1, 3.25, 31.39, 5.35, 3.57, 8.55, 5.35, 5....","[25.33, 3.04, 29.34, 4.69, 4.59, 7.99, 4.69, 4...","[25.33, 3.04, 29.34, 2.5, 3.34, 7.99, 2.5, 2.5...",78,"[539, 539, 539, 1208, 103, 2, 1208, 1208, 1208...","[DRUG GM, DRUG GM, DRUG GM, Groceries, Groceri...","[National, National, National, National, Natio...","[CIGARETTES, CIGARETTES, CIGARETTES, SOFT DRIN...","[CIGARETTES, CIGARETTES, CIGARETTES, SOFT DRIN...",2021-03-19,0,0,2,0,0,2509,58262,0,0,0,0,179,0,0,0,0,5,0,0,0,4,0,0,16,0,0,59,9,3,0,0,0,0,0,188,0,U,Unknown,single,middle-aged,1.0,False,49.5,42000.0,0.0,1.0,0.0
2497,2498,"[105, 105, 105, 105, 105, 105, 105, 105, 105, ...","[824555, 835576, 901776, 904023, 911215, 91749...","[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...","[0.1, 0.1, 2.69, 0.1, 0.1, 0.1, 0.1, 0.2, 0.1,...",309,-0.325262,1823,16,0.000000,0.000000,"[0.11, 0.11, 2.88, 0.11, 0.11, 0.11, 0.11, 0.2...","[0.2, 0.2, 3.99, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2,...","[0.1, 0.1, 2.69, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1,...",105,"[1046, 1046, 436, 1046, 1046, 1046, 1046, 1046...","[Groceries, Groceries, Groceries, Groceries, G...","[National, National, National, National, Natio...","[PWDR/CRYSTL DRNK MX, PWDR/CRYSTL DRNK MX, REF...","[SOFT DRINK POWDER POUCHES, SOFT DRINK POWDER ...",2021-04-15,0,0,5,0,0,778,0,0,0,0,0,92,0,0,2,0,1,0,0,0,1,0,1,19,0,0,10,0,30384,0,0,0,0,0,46,0,U,Homeowner,unknown,adult,2.0,False,29.5,62000.0,0.0,2.0,2.0
2498,2499,"[70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 85, 8...","[838186, 853197, 864143, 883665, 932949, 93383...","[1, 1, 6, 7, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, ...","[3.99, 1.5, 4.74, 19.53, 2.38, 4.9, 3.34, 3.35...",31782,-0.427187,1056,11,-0.003045,-0.000386,"[4.27, 1.61, 5.07, 20.9, 2.55, 5.24, 3.57, 3.5...","[3.99, 1.89, 0.89, 3.29, 2.38, 2.94, 3.99, 3.3...","[3.99, 1.5, 0.79, 2.79, 2.38, 2.45, 3.34, 3.35...",70,"[1790, 1914, 69, 1046, 3869, 3705, 103, 3787, ...","[Groceries, Groceries, Groceries, Groceries, D...","[National, National, Private, National, Nation...","[BAKED SWEET GOODS, BAKED BREAD/BUNS/ROLLS, FL...","[SW GDS:DONUTS, RYE BREADS, FLUID MILK WHITE O...",2021-03-11,0,0,0,0,0,1289,71137,0,0,0,0,102,0,1,0,0,0,0,0,0,5,0,2,29,0,0,8,0,70771,0,0,0,0,0,105,0,U,Unknown,unknown,adult,2.0,True,29.5,15000.0,1.0,3.0,2.0
2499,2500,"[79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 7...","[856455, 903476, 834102, 837751, 880797, 89301...","[1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[2.68, 5.79, 5.67, 2.99, 3.29, 1.97, 2.29, 3.4...",396,-0.637665,1924,12,-0.064278,-0.009847,"[2.87, 6.2, 6.07, 3.2, 3.52, 2.11, 2.45, 3.73,...","[2.68, 5.79, 1.89, 3.79, 3.29, 2.99, 2.29, 3.4...","[2.68, 5.79, 1.89, 2.99, 3.29, 1.97, 2.29, 3.4...",79,"[5068, 4952, 499, 794, 5072, 69, 69, 751, 194,...","[DRUG GM, DRUG GM, Groceries, Groceries, DRUG ...","[National, National, National, National, Natio...","[FEMININE HYGIENE, ANALGESICS, POPCORN, COLD C...","[FEM. HYGN.NAPKINS, ADULT ANALGESICS, POPCORN ...",2021-03-20,0,0,0,0,0,1508,245258,0,0,0,0,464,0,0,0,0,3,0,0,0,0,0,0,5,0,0,15,11,8,0,0,0,0,0,93,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
columns_to_drop = [
    'day', 'product_id', 'sales_value',
    'store_id','trans_time', 'week_no',
    'loyalty_card_price',
    'non_loyalty_card_price', 'days_', 'manufacturer',
    'brand', 'commodity_desc', 'sub_commodity_desc'
]
# Drop the specified columns from the DataFrame `clients`
clients_cleaned = clients.drop(columns=columns_to_drop)
clients_cleaned.head(2)

,household_key,quantity,retail_disc,coupon_disc,coupon_match_disc,sales_value_eu,department,first_transaction_date,RX_quantity,AUTOMOTIVE_quantity,SALAD BAR_quantity,GARDEN CENTER_quantity,DELI/SNACK BAR_quantity,Groceries_quantity,KIOSK-GAS_quantity,VIDEO_quantity,PROD-WHS SALES_quantity,TOYS_quantity,HOUSEWARES_quantity,DRUG GM_quantity,HBC_quantity,MISC. TRANS._quantity,SPIRITS_quantity,PHARMACY SUPPLY_quantity,COSMETICS_quantity,RESTAURANT_quantity,CNTRL/STORE SUP_quantity,CHEF SHOPPE_quantity,FLORAL_quantity,ELECT &PLUMBING_quantity,TRAVEL & LEISUR_quantity,Bakery_quantity,POSTAL CENTER_quantity,CHARITABLE CONT_quantity,DELI_quantity,Seafood_quantity,MISC SALES TRAN_quantity,COUP/STR & MFG_quantity,GM MERCH EXP_quantity,DAIRY DELI_quantity,VIDEO RENTAL_quantity,_quantity,Meat_quantity,PHOTO_quantity,marital_status_code,homeowner_desc,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender(s)
0,1,"[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",-0.403613,-0.046647,-0.015142,"[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[Groceries, Groceries, Groceries, DELI, Grocer...",2021-02-20,0,0,13,0,0,1538,0,0,0,0,0,201,0,0,0,0,0,3,0,0,1,0,0,49,0,0,68,0,2,0,0,0,0,0,122,0,A,Homeowner,married,senior,2.0,False,65.0,42000.0,0.0,2.0,2.0
1,2,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...",-0.469174,-0.012605,0.000000,"[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[Groceries, Groceries, Groceries, Groceries, G...",2021-04-13,0,0,0,0,0,634,0,0,0,0,0,110,0,0,0,0,5,0,0,0,1,0,0,11,0,0,13,1,2,0,0,0,0,0,57,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# Sample data loading (replace with actual data)
# clients_cleaned = pd.read_csv('your_file.csv')

# Convert string representations of lists to actual lists if needed
clients_cleaned['department_'] = clients_cleaned['department'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
clients_cleaned['sales_value_eu_'] = clients_cleaned['sales_value_eu'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
clients_cleaned['quantity_'] = clients_cleaned['quantity'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Convert lists within DataFrame columns to numeric values if necessary
clients_cleaned['sales_value_eu_'] = clients_cleaned['sales_value_eu'].apply(lambda x: list(map(float, x)))
clients_cleaned['quantit_y'] = clients_cleaned['quantity'].apply(lambda x: list(map(float, x)))

# Initialize an empty list to collect rows
rows = []

# Iterate over each row in the DataFrame
for index, row in clients_cleaned.iterrows():
    household_key = row['household_key']
    departments = row['department']  # Ensure this is a list of department names
    sales_values = row['sales_value_eu']  # Ensure this is a list of sales values (numeric)
    quantities = row['quantity']  # Ensure this is a list of quantities (numeric)

    # Create a dictionary to store the total spending for each department
    total_spending = {}
    
    for dept, sales_value, quantity in zip(departments, sales_values, quantities):
        if dept not in total_spending:
            total_spending[dept] = 0
        total_spending[dept] += sales_value
    
    # Convert the dictionary to a DataFrame row
    spending_row = {'household_key': household_key}
    spending_row.update(total_spending)
    
    # Append the row to the list
    rows.append(spending_row)

# Convert the list of rows into a DataFrame
spending_per_department = pd.DataFrame(rows)

# Fill NaN values with 0 (for departments with no spending)
spending_per_department.fillna(0, inplace=True)


# Join the spending DataFrame to clients_cleaned
clients_cleaned = clients_cleaned.merge(spending_per_department, on='household_key', how='left')

# Rename spending columns to include '_spend'
spending_columns = spending_per_department.columns.drop('household_key')
spending_column_mapping = {col: f"{col}_spend" for col in spending_columns}

# Rename the columns
clients_cleaned.rename(columns=spending_column_mapping, inplace=True)

# Display the result
clients_cleaned.head(2)

,household_key,quantity,retail_disc,coupon_disc,coupon_match_disc,sales_value_eu,department,first_transaction_date,RX_quantity,AUTOMOTIVE_quantity,SALAD BAR_quantity,GARDEN CENTER_quantity,DELI/SNACK BAR_quantity,Groceries_quantity,KIOSK-GAS_quantity,VIDEO_quantity,PROD-WHS SALES_quantity,TOYS_quantity,HOUSEWARES_quantity,DRUG GM_quantity,HBC_quantity,MISC. TRANS._quantity,SPIRITS_quantity,PHARMACY SUPPLY_quantity,COSMETICS_quantity,RESTAURANT_quantity,CNTRL/STORE SUP_quantity,CHEF SHOPPE_quantity,FLORAL_quantity,ELECT &PLUMBING_quantity,TRAVEL & LEISUR_quantity,Bakery_quantity,POSTAL CENTER_quantity,CHARITABLE CONT_quantity,DELI_quantity,Seafood_quantity,MISC SALES TRAN_quantity,COUP/STR & MFG_quantity,GM MERCH EXP_quantity,DAIRY DELI_quantity,VIDEO RENTAL_quantity,_quantity,Meat_quantity,PHOTO_quantity,marital_status_code,homeowner_desc,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender(s),department_,sales_value_eu_,quantity_,quantit_y,Groceries_spend,DELI_spend,Meat_spend,Bakery_spend,DRUG GM_spend,_spend,SALAD BAR_spend,MISC SALES TRAN_spend,RESTAURANT_spend,FLORAL_spend,Seafood_spend,COSMETICS_spend,KIOSK-GAS_spend,CHEF SHOPPE_spend,GARDEN CENTER_spend,MISC. TRANS._spend,SPIRITS_spend,DAIRY DELI_spend,AUTOMOTIVE_spend,TRAVEL & LEISUR_spend,CNTRL/STORE SUP_spend,COUP/STR & MFG_spend,GM MERCH EXP_spend,POSTAL CENTER_spend,DELI/SNACK BAR_spend,VIDEO_spend,CHARITABLE CONT_spend,RX_spend,VIDEO RENTAL_spend,PHOTO_spend,PROD-WHS SALES_spend,PHARMACY SUPPLY_spend,TOYS_spend,HBC_spend,ELECT &PLUMBING_spend,HOUSEWARES_spend
0,1,"[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",-0.403613,-0.046647,-0.015142,"[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[Groceries, Groceries, Groceries, DELI, Grocer...",2021-02-20,0,0,13,0,0,1538,0,0,0,0,0,201,0,0,0,0,0,3,0,0,1,0,0,49,0,0,68,0,2,0,0,0,0,0,122,0,A,Homeowner,married,senior,2.0,False,65.0,42000.0,0.0,2.0,2.0,"[Groceries, Groceries, Groceries, DELI, Grocer...","[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, ...",3285.02,226.99,373.56,102.01,568.23,0.0,44.09,21.40,4.47,8.55,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...",-0.469174,-0.012605,0.000000,"[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[Groceries, Groceries, Groceries, Groceries, G...",2021-04-13,0,0,0,0,0,634,0,0,0,0,0,110,0,0,0,0,5,0,0,0,1,0,0,11,0,0,13,1,2,0,0,0,0,0,57,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Groceries, Groceries, Groceries, Groceries, G...","[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, ...",1361.50,50.01,238.86,26.55,353.11,0.0,0.00,4.56,0.00,23.53,9.62,23.62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
clients_cleaned['quantity'].apply(functions.find_non_numeric_values)

0       []
1       []
2       []
3       []
4       []
        ..
2495    []
2496    []
2497    []
2498    []
2499    []
Name: quantity, Length: 2500, dtype: object

dictionary w/ quantities

In [64]:
# Select columns containing '_quantity'
quantity_columns = [col for col in clients_cleaned.columns if '_quantity' in col]

def create_department_dict(row):
   
    # Initialize an empty dictionary
    dept_dict = {}
    # Iterate over each column that contains '_quantity'
    for col in quantity_columns:
        # Extract the department name by removing '_quantity' and add it to the dictionary
        dept_name = col.replace('_quantity', '')
        dept_dict[dept_name] = row[col]
    return dept_dict


# Apply the function to create the new column with dictionaries
clients_cleaned['dep_quantity'] = clients_cleaned.apply(create_department_dict, axis=1)

# Drop the original quantity columns if desired
clients_cleaned.drop(columns=quantity_columns, inplace=True)

In [65]:
clients_cleaned.head(2)

,household_key,quantity,retail_disc,coupon_disc,coupon_match_disc,sales_value_eu,department,first_transaction_date,marital_status_code,homeowner_desc,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender(s),department_,sales_value_eu_,quantity_,quantit_y,Groceries_spend,DELI_spend,Meat_spend,Bakery_spend,DRUG GM_spend,_spend,SALAD BAR_spend,MISC SALES TRAN_spend,RESTAURANT_spend,FLORAL_spend,Seafood_spend,COSMETICS_spend,KIOSK-GAS_spend,CHEF SHOPPE_spend,GARDEN CENTER_spend,MISC. TRANS._spend,SPIRITS_spend,DAIRY DELI_spend,AUTOMOTIVE_spend,TRAVEL & LEISUR_spend,CNTRL/STORE SUP_spend,COUP/STR & MFG_spend,GM MERCH EXP_spend,POSTAL CENTER_spend,DELI/SNACK BAR_spend,VIDEO_spend,CHARITABLE CONT_spend,RX_spend,VIDEO RENTAL_spend,PHOTO_spend,PROD-WHS SALES_spend,PHARMACY SUPPLY_spend,TOYS_spend,HBC_spend,ELECT &PLUMBING_spend,HOUSEWARES_spend,dep_quantity
0,1,"[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",-0.403613,-0.046647,-0.015142,"[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[Groceries, Groceries, Groceries, DELI, Grocer...",2021-02-20,A,Homeowner,married,senior,2.0,False,65.0,42000.0,0.0,2.0,2.0,"[Groceries, Groceries, Groceries, DELI, Grocer...","[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, ...",3285.02,226.99,373.56,102.01,568.23,0.0,44.09,21.40,4.47,8.55,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 13, 'G..."
1,2,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...",-0.469174,-0.012605,0.000000,"[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[Groceries, Groceries, Groceries, Groceries, G...",2021-04-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Groceries, Groceries, Groceries, Groceries, G...","[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, ...",1361.50,50.01,238.86,26.55,353.11,0.0,0.00,4.56,0.00,23.53,9.62,23.62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA..."

In [66]:
'''import json

# Convert the 'dep_quantity' dictionaries to JSON strings
clients_cleaned['dep_quantity'] = clients_cleaned['dep_quantity'].apply(lambda x: json.dumps(x))'''

"import json\n\n# Convert the 'dep_quantity' dictionaries to JSON strings\nclients_cleaned['dep_quantity'] = clients_cleaned['dep_quantity'].apply(lambda x: json.dumps(x))"

In [67]:
clients_cleaned = clients_cleaned.drop([' _spend', 'quantit_y', 'quantity_', 'sales_value_eu_', 'department_'], axis = 1) #'dep_quantity'

In [68]:
'''def find_non_numeric_values(lst):
    non_numeric_values = [item for item in lst if not isinstance(item, (int, float))]
    return non_numeric_values

clients_cleaned['quantity'].apply(find_non_numeric_values)'''

"def find_non_numeric_values(lst):\n    non_numeric_values = [item for item in lst if not isinstance(item, (int, float))]\n    return non_numeric_values\n\nclients_cleaned['quantity'].apply(find_non_numeric_values)"

In [69]:
# Apply serialization
clients_cleaned['quantity'] = clients_cleaned['quantity'].apply(functions.serialize_list)
clients_cleaned['sales_value_eu'] = clients_cleaned['sales_value_eu'].apply(functions.serialize_list)
clients_cleaned['department'] = clients_cleaned['department'].apply(functions.serialize_list)

In [70]:
clients_cleaned.head(2)

,household_key,quantity,retail_disc,coupon_disc,coupon_match_disc,sales_value_eu,department,first_transaction_date,marital_status_code,homeowner_desc,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender(s),Groceries_spend,DELI_spend,Meat_spend,Bakery_spend,DRUG GM_spend,SALAD BAR_spend,MISC SALES TRAN_spend,RESTAURANT_spend,FLORAL_spend,Seafood_spend,COSMETICS_spend,KIOSK-GAS_spend,CHEF SHOPPE_spend,GARDEN CENTER_spend,MISC. TRANS._spend,SPIRITS_spend,DAIRY DELI_spend,AUTOMOTIVE_spend,TRAVEL & LEISUR_spend,CNTRL/STORE SUP_spend,COUP/STR & MFG_spend,GM MERCH EXP_spend,POSTAL CENTER_spend,DELI/SNACK BAR_spend,VIDEO_spend,CHARITABLE CONT_spend,RX_spend,VIDEO RENTAL_spend,PHOTO_spend,PROD-WHS SALES_spend,PHARMACY SUPPLY_spend,TOYS_spend,HBC_spend,ELECT &PLUMBING_spend,HOUSEWARES_spend,dep_quantity
0,1,"[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",-0.403613,-0.046647,-0.015142,"[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[""Groceries"", ""Groceries"", ""Groceries"", ""DELI""...",2021-02-20,A,Homeowner,married,senior,2.0,False,65.0,42000.0,0.0,2.0,2.0,3285.02,226.99,373.56,102.01,568.23,44.09,21.40,4.47,8.55,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 13, 'G..."
1,2,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...",-0.469174,-0.012605,0.000000,"[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-04-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1361.50,50.01,238.86,26.55,353.11,0.00,4.56,0.00,23.53,9.62,23.62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA..."

In [71]:
'''pd.reset_option('display.max_rows', None)  # Display all columns
pd.reset_option('display.max_colwidth', None) '''

"pd.reset_option('display.max_rows', None)  # Display all columns\npd.reset_option('display.max_colwidth', None) "

## Export

In [72]:
clients_cleaned.to_csv('C:/Users/aprataso/Downloads/final_data/treated/customer_info.csv')

## tests

In [59]:
clients_cleaned[clients_cleaned['']]

KeyError: ''

In [ ]:
explore = clients_cleaned[['household_key', 'quantity', 'sales_value_eu', 'department', 'KIOSK-GAS_spend', 'KIOSK-GAS_quantity']]

In [ ]:
pd.set_option('display.max_colwidth', None)
explore[explore['household_key'] == 8]

In [ ]:
def combine_lists(row):
    quantities = row['quantity']
    sales = row['sales_value_eu']
    departments = row['department']
    return pd.DataFrame({
        'quantity': quantities,
        'sales_value_eu': sales,
        'department': departments
    })

# Apply the function to each row and concatenate results
combined_df = pd.concat(explore.apply(combine_lists, axis=1).tolist(), ignore_index=True)
combined_df

In [ ]:
combined_df[combined_df['department'] == 'KIOSK-GAS']