# <center>Dunnhumby - The Complete Journey<center>

** ** 
    
# <center>*02 - Customer Information Layer*<center>
    

In this notebook the total spend per department will be added to the Customer Information (hh) table my means of joining the *Transaction* and *Product* datasets, and then joining them to the *HH Demographics* Dataset.


<br>
    
This project was developed by <br><br>

*<center>António Oliveira | NTT Data Summer Internship 2024<center>*

** **

<a class="anchor" id="0"></a>

# Table of Contents

1. [Importing Libraries & Data](#1.-Importing-Libraries-&-Data)

    1.1 [Libraries](#1.1-Libraries)
    
    1.2 [Data](#1.2-Data) <br><br>
  
    
2. [First Join](#2.-First-Join)

    2.1 [Dataset Transformation](#2.1-Dataset-Transformation) <br><br>
    
3. [Second Join](#3.-Second-Join)    <br>

    3.1 [Feature Engineering](#3.1-Feature-Engineering) <br><br>
    
4. [Export](#4.-Export) <br><br>

## 1. Importing Libraries & Data

### 1.1 Libraries

In [37]:
import pandas as pd
pd.set_option('display.max_columns', None)
import ast

import functions

### 1.2 Data

In [38]:
path = '/Users/antoniooliveira/Downloads/NTT project'
#path = "C:/Users/aprataso/Downloads/final_data"

transaction = pd.read_csv(f"{path}/trans.csv")
prod = pd.read_csv(f"{path}/prod.csv")
hh = pd.read_csv(f"{path}/Gold/hh_treated.csv")

## 2. First Join

<a class='anchor' id='1'></a>
[Top &#129033;](#0)

Merge the *Transaction* and *Product* Datasets

In [39]:
merger = transaction.merge(prod, on = 'product_id', how = 'left')
merger

,household_key,basket_id,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,transaction_date,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0,1.49,1.99,1.39,1,2021-01-01,69,PRODUCE,Private,POTATOES,POTATOES RUSSET (BULK&BAG),5 LB,5.0,LB
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0,0.88,0.82,0.82,1,2021-01-01,2,PRODUCE,National,ONIONS,ONIONS SWEET (BULK&BAG),40 LB,40.0,LB
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0,1.06,1.29,0.99,1,2021-01-01,69,PRODUCE,Private,VEGETABLES - ALL OTHERS,CELERY,,NaN,
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0,1.29,1.21,1.21,1,2021-01-01,2,PRODUCE,National,TROPICAL FRUIT,BANANAS,40 LB,40.0,LB
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0,1.61,1.89,1.50,1,2021-01-01,69,PRODUCE,Private,ORGANICS FRUIT & VEGETABLES,ORGANIC CARROTS,1 LB,1.0,LB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595727,1598,42305362535,711,92130,1,0.99,3228,0.00,1520,102,0.0,0.0,1.06,0.99,0.99,711,2022-12-12,560,GROCERY,National,MARGARINES,MARGARINE: TUBS AND BOWLS,16 OZ,16.0,OZ
2595728,1598,42305362535,711,114102,1,8.89,3228,0.00,1520,102,0.0,0.0,9.51,8.89,8.89,711,2022-12-12,2398,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ
2595729,1598,42305362535,711,133449,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12,2468,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ
2595730,1598,42305362535,711,6923644,1,4.50,3228,-0.49,1520,102,0.0,0.0,4.82,4.99,4.50,711,2022-12-12,2390,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,4PK/10 OZ,4.0,PK/ OZ
2595731,1598,42305362535,711,14055192,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12,2536,GROCERY,National,MISC WINE,BEERALEMALT LIQUORS,6PK/11.2OZ,6.0,PK/.OZ

Incoherencies

In [40]:
merger[merger['quantity'] > 5000]

,household_key,basket_id,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,transaction_date,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units
7198,778,27153895714,15,6534178,8737,20.00,310,-0.01,1147,3,0.0,0.0,21.40,0.0,0.0,15,2021-01-15,69,KIOSK-GAS,Private,COUPON/MISC ITEMS,GASOLINE-REG UNLEADED,,NaN,
8055,988,27176877230,17,6534178,11066,23.01,408,-1.10,1845,3,0.0,0.0,24.62,0.0,0.0,17,2021-01-17,69,KIOSK-GAS,Private,COUPON/MISC ITEMS,GASOLINE-REG UNLEADED,,NaN,
8866,784,27190560195,18,6534178,5598,12.20,408,-0.01,908,3,0.0,0.0,13.05,0.0,0.0,18,2021-01-18,69,KIOSK-GAS,Private,COUPON/MISC ITEMS,GASOLINE-REG UNLEADED,,NaN,
9201,1455,27190875400,18,6534178,9026,20.03,341,0.00,1025,3,0.0,0.0,21.43,0.0,0.0,18,2021-01-18,69,KIOSK-GAS,Private,COUPON/MISC ITEMS,GASOLINE-REG UNLEADED,,NaN,
10264,778,27191462009,19,6534178,12025,25.00,310,-1.20,1550,3,0.0,0.0,26.75,0.0,0.0,19,2021-01-19,69,KIOSK-GAS,Private,COUPON/MISC ITEMS,GASOLINE-REG UNLEADED,,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2594472,898,42289812766,711,6534178,10731,26.60,369,-0.01,1226,102,0.0,0.0,28.46,0.0,0.0,711,2022-12-12,69,KIOSK-GAS,Private,COUPON/MISC ITEMS,GASOLINE-REG UNLEADED,,NaN,
2594821,1299,42289847420,711,6534178,11360,27.03,345,-1.13,1604,102,0.0,0.0,28.92,0.0,0.0,711,2022-12-12,69,KIOSK-GAS,Private,COUPON/MISC ITEMS,GASOLINE-REG UNLEADED,,NaN,
2594830,2124,42289851597,711,6534178,14065,33.04,318,-0.01,1244,102,0.0,0.0,35.35,0.0,0.0,711,2022-12-12,69,KIOSK-GAS,Private,COUPON/MISC ITEMS,GASOLINE-REG UNLEADED,,NaN,
2594915,2124,42289854548,711,6534178,8900,20.91,318,-0.01,2042,102,0.0,0.0,22.37,0.0,0.0,711,2022-12-12,69,KIOSK-GAS,Private,COUPON/MISC ITEMS,GASOLINE-REG UNLEADED,,NaN,
2595319,2245,42289894300,711,6534178,7860,18.46,380,-0.79,1946,102,0.0,0.0,19.75,0.0,0.0,711,2022-12-12,69,KIOSK-GAS,Private,COUPON/MISC ITEMS,GASOLINE-REG UNLEADED,,NaN,

Since all very high quantity values correspond to the same department, commondity and subcommodity, these values will be dropped

In [41]:
merger = merger[merger['sub_commodity_desc'] != 'GASOLINE-REG UNLEADED']
merger

,household_key,basket_id,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,transaction_date,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0,1.49,1.99,1.39,1,2021-01-01,69,PRODUCE,Private,POTATOES,POTATOES RUSSET (BULK&BAG),5 LB,5.0,LB
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0,0.88,0.82,0.82,1,2021-01-01,2,PRODUCE,National,ONIONS,ONIONS SWEET (BULK&BAG),40 LB,40.0,LB
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0,1.06,1.29,0.99,1,2021-01-01,69,PRODUCE,Private,VEGETABLES - ALL OTHERS,CELERY,,NaN,
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0,1.29,1.21,1.21,1,2021-01-01,2,PRODUCE,National,TROPICAL FRUIT,BANANAS,40 LB,40.0,LB
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0,1.61,1.89,1.50,1,2021-01-01,69,PRODUCE,Private,ORGANICS FRUIT & VEGETABLES,ORGANIC CARROTS,1 LB,1.0,LB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595727,1598,42305362535,711,92130,1,0.99,3228,0.00,1520,102,0.0,0.0,1.06,0.99,0.99,711,2022-12-12,560,GROCERY,National,MARGARINES,MARGARINE: TUBS AND BOWLS,16 OZ,16.0,OZ
2595728,1598,42305362535,711,114102,1,8.89,3228,0.00,1520,102,0.0,0.0,9.51,8.89,8.89,711,2022-12-12,2398,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ
2595729,1598,42305362535,711,133449,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12,2468,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ
2595730,1598,42305362535,711,6923644,1,4.50,3228,-0.49,1520,102,0.0,0.0,4.82,4.99,4.50,711,2022-12-12,2390,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,4PK/10 OZ,4.0,PK/ OZ
2595731,1598,42305362535,711,14055192,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12,2536,GROCERY,National,MISC WINE,BEERALEMALT LIQUORS,6PK/11.2OZ,6.0,PK/.OZ

Looking at the variables in the new Dataframe

In [42]:
merger.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2570770 entries, 0 to 2595731
Data columns (total 25 columns):
 #   Column                      Dtype
---  ------                      -----
 0   household_key               int64
 1   basket_id                   int64
 2   day                         int64
 3   product_id                  int64
 4   quantity                    int64
 5   sales_value                 float64
 6   store_id                    int64
 7   retail_disc                 float64
 8   trans_time                  int64
 9   week_no                     int64
 10  coupon_disc                 float64
 11  coupon_match_disc           float64
 12  sales_value_eu              float64
 13  loyalty_card_price          float64
 14  non_loyalty_card_price      float64
 15  days_                       int64
 16  transaction_date            object
 17  manufacturer                int64
 18  department                  object
 19  brand                       object
 20  commodity_desc              object
 21  sub_commodity_desc          object
 22  curr_size_of_product        object
 23  curr_size_of_product_value  float64
 24  curr_size_of_product_units  object
dtypes: float64(8), int64(10), object(7)
memory usage: 509.9+ MB

### 2.1 Dataset Transformation

Since here we are using the non-Gold versions of the dataset, we have to reduce the number of departments again

In [43]:
print(merger['department'].unique())

replacement_mapping = {
    'MEAT': 'Meat',
    'MEAT-PCKGD': 'Meat',
    'MEAT-WHSE': 'Meat',
    'PORK': 'Meat',
    'SEAFOOD': 'Seafood',
    'SEAFOOD-PCKGD': 'Seafood',
    'FROZEN GROCERY': 'Groceries',
#    'PRODUCE': 'Groceries',
    'GROCERY': 'Groceries',
#    'NUTRITION': 'Groceries',
    'GRO BAKERY': 'Bakery',
    'PASTRY': 'Bakery',
    'DELI': 'Delicacies',
    'DAIRY DELI': 'Delicacies',
    'DELI/SNACK BAR': 'DELI/SNACK BAR',
    'PHOTO': 'Photo/Video',
    'VIDEO': 'Photo/Video'
}
merger['department'] = merger['department'].replace(replacement_mapping)

['PRODUCE' 'GROCERY' 'DRUG GM' 'MEAT' 'MEAT-PCKGD' 'DELI' 'SEAFOOD-PCKGD'
 ' ' 'PASTRY' 'NUTRITION' 'VIDEO RENTAL' 'MISC SALES TRAN' 'FLORAL'
 'SEAFOOD' 'SALAD BAR' 'AUTOMOTIVE' 'SPIRITS' 'COSMETICS' 'MISC. TRANS.'
 'GARDEN CENTER' 'CHEF SHOPPE' 'TRAVEL & LEISUR' 'COUP/STR & MFG'
 'FROZEN GROCERY' 'RESTAURANT' 'HOUSEWARES' 'PORK' 'POSTAL CENTER'
 'GM MERCH EXP' 'CNTRL/STORE SUP' 'PROD-WHS SALES' 'DAIRY DELI' 'HBC'
 'CHARITABLE CONT' 'RX' 'DELI/SNACK BAR' 'PHARMACY SUPPLY' 'PHOTO'
 'ELECT &PLUMBING' 'MEAT-WHSE' 'TOYS' 'GRO BAKERY' 'VIDEO']

/var/folders/mm/fxsq_1490x9dd2w76tqvt3kr0000gn/T/ipykernel_2955/1381285185.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merger['department'] = merger['department'].replace(replacement_mapping)

Verifying the success of the operation

In [44]:
merger

,household_key,basket_id,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,transaction_date,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0,1.49,1.99,1.39,1,2021-01-01,69,PRODUCE,Private,POTATOES,POTATOES RUSSET (BULK&BAG),5 LB,5.0,LB
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0,0.88,0.82,0.82,1,2021-01-01,2,PRODUCE,National,ONIONS,ONIONS SWEET (BULK&BAG),40 LB,40.0,LB
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0,1.06,1.29,0.99,1,2021-01-01,69,PRODUCE,Private,VEGETABLES - ALL OTHERS,CELERY,,NaN,
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0,1.29,1.21,1.21,1,2021-01-01,2,PRODUCE,National,TROPICAL FRUIT,BANANAS,40 LB,40.0,LB
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0,1.61,1.89,1.50,1,2021-01-01,69,PRODUCE,Private,ORGANICS FRUIT & VEGETABLES,ORGANIC CARROTS,1 LB,1.0,LB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595727,1598,42305362535,711,92130,1,0.99,3228,0.00,1520,102,0.0,0.0,1.06,0.99,0.99,711,2022-12-12,560,Groceries,National,MARGARINES,MARGARINE: TUBS AND BOWLS,16 OZ,16.0,OZ
2595728,1598,42305362535,711,114102,1,8.89,3228,0.00,1520,102,0.0,0.0,9.51,8.89,8.89,711,2022-12-12,2398,Groceries,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ
2595729,1598,42305362535,711,133449,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12,2468,Groceries,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ
2595730,1598,42305362535,711,6923644,1,4.50,3228,-0.49,1520,102,0.0,0.0,4.82,4.99,4.50,711,2022-12-12,2390,Groceries,National,BEERS/ALES,BEERALEMALT LIQUORS,4PK/10 OZ,4.0,PK/ OZ
2595731,1598,42305362535,711,14055192,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12,2536,Groceries,National,MISC WINE,BEERALEMALT LIQUORS,6PK/11.2OZ,6.0,PK/.OZ

Verifying if each row represents a unique combination of basket_id and product_id

In [35]:
unique_combinations = merger[['basket_id', 'product_id']].drop_duplicates()

# Count the number of unique combinations
num_unique_combinations = unique_combinations.shape[0]
print(num_unique_combinations)

2570770

In [23]:
#transaction['basket_id'].nunique()

276484

In [21]:
#merger[['basket_id', 'product_id']].nunique() # 2500 # 92304

basket_id     276484
product_id     92339
dtype: int64

Grouping our data by household_id to after join it with *hh*

In [ ]:
agg_funcs = {
    'day': list, 
    #'basket_id': list,
    'product_id': list,  
    'quantity': lambda x: x.tolist(),   
    'sales_value': list,  
    'store_id': 'first',  
    'retail_disc':  'mean',  
    'trans_time': 'first', 
    'week_no': 'first',  
    'coupon_disc':  'mean',  
    'coupon_match_disc':  'mean',  
    'sales_value_eu':list,  
    'loyalty_card_price': list,  
    'non_loyalty_card_price': list, 
    'days_': 'first',  
    'transaction_date': 'first', 
    'manufacturer': list,  
    'department': list, 
    'brand': list,  
    'commodity_desc': list, 
    'sub_commodity_desc': list #,
    #'curr_size_of_product': list,  
    #'curr_size_of_product_value': list,  
    #'curr_size_of_product_units': list  
}

# Group by household_key and apply aggregations
grouped_df = merger.groupby(['household_key']).agg(agg_funcs).reset_index()

grouped_df['first_transaction_date'] = grouped_df['transaction_date']
grouped_df = grouped_df.drop('transaction_date', axis = 1)
grouped_df.head(2)

## 3. Second Join

<a class='anchor' id='1'></a>
[Top &#129033;](#0)

Joining *Transaction* and *Product* Datasets to *HH Demographics* Dataset.

In [ ]:
hh.head(2)

**2 Options**

1. Joining *hh* with *merge*, which means we will only keep 801 rows, wasting the information of 1699 transaction for which we do not have customer information.

2. Joining *merge* with *hh*, which means we will keep 2500 rows, even tho 1699 will have missing values as we do not have information about those customers yet

In [ ]:
'''clients = hh.merge(grouped_df, on='household_key', how='left')
clients'''

In [ ]:
clients = grouped_df.merge(hh, on='household_key', how='left')
clients

### 3.1 Feature Engineering

Dropping columns that will not be necessary

In [ ]:
columns_to_drop = [
    'day', 'product_id', 'sales_value',
    'store_id','trans_time', 'week_no',
    'loyalty_card_price',
    'non_loyalty_card_price', 'days_', 'manufacturer',
    'brand', 'commodity_desc', 'sub_commodity_desc'
]


clients_cleaned = clients.drop(columns=columns_to_drop)
clients_cleaned.head(2)

Create a column for each department that represents the amount of money spent per department per household

In [ ]:
# Convert string representations of lists to actual lists if needed
clients_cleaned['department_'] = clients_cleaned['department'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
clients_cleaned['sales_value_eu_'] = clients_cleaned['sales_value_eu'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
clients_cleaned['quantity_'] = clients_cleaned['quantity'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Convert lists within DataFrame columns to numeric values if necessary
clients_cleaned['sales_value_eu_'] = clients_cleaned['sales_value_eu'].apply(lambda x: list(map(float, x)))
clients_cleaned['quantit_y'] = clients_cleaned['quantity'].apply(lambda x: list(map(float, x)))

# Initialize an empty list to collect rows
rows = []

# Iterate over each row in the DataFrame
for index, row in clients_cleaned.iterrows():
    household_key = row['household_key']
    departments = row['department']  # Ensure this is a list of department names
    sales_values = row['sales_value_eu']  # Ensure this is a list of sales values (numeric)
    quantities = row['quantity']  # Ensure this is a list of quantities (numeric)

    # Create a dictionary to store the total spending for each department
    total_spending = {}
    
    for dept, sales_value, quantity in zip(departments, sales_values, quantities):
        if dept not in total_spending:
            total_spending[dept] = 0
        total_spending[dept] += sales_value
    
    # Convert the dictionary to a DataFrame row
    spending_row = {'household_key': household_key}
    spending_row.update(total_spending)
    
    # Append the row to the list
    rows.append(spending_row)

# Convert the list of rows into a DataFrame
spending_per_department = pd.DataFrame(rows)

# Fill NaN values with 0 (for departments with no spending)
spending_per_department.fillna(0, inplace=True)


# Join the spending DataFrame to clients_cleaned
clients_cleaned = clients_cleaned.merge(spending_per_department, on='household_key', how='left')

# Rename spending columns to include '_spend'
spending_columns = spending_per_department.columns.drop('household_key')
spending_column_mapping = {col: f"{col}_spend" for col in spending_columns}

# Rename the columns
clients_cleaned.rename(columns=spending_column_mapping, inplace=True)

# Display the result
clients_cleaned.head(2)

As the *quantity* columns will not be needed, they will be dropped

In [ ]:
quantity_columns = [col for col in clients_cleaned.columns if '_quantity' in col]

clients_cleaned.drop(columns=quantity_columns, inplace=True)

Drop temporary variables

In [ ]:
clients_cleaned = clients_cleaned.drop([' _spend', 'quantit_y', 'quantity_', 'sales_value_eu_', 'department_'], axis = 1) #'dep_quantity'

Serialize variables to keep their data type after export

In [ ]:
# Apply serialization
clients_cleaned['quantity'] = clients_cleaned['quantity'].apply(functions.serialize_list)
clients_cleaned['sales_value_eu'] = clients_cleaned['sales_value_eu'].apply(functions.serialize_list)
clients_cleaned['department'] = clients_cleaned['department'].apply(functions.serialize_list)

## 4. Export

<a class='anchor' id='1'></a>
[Top &#129033;](#0)

In [ ]:
clients_cleaned.to_csv(f'{path}/Gold/Customer_info_dataset.csv', index = True)

In [ ]:
merger.to_csv(f'{path}/trans_prod.csv', index = True)