In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/antoniooliveira/Projects/Industrial Applications of AI/Assignment 4/harvard_reviews.csv')
data.head(3)

,published_date,published_platform,rating,type,helpful_votes,title,text
0,2023-12-28T08:02:14-05:00,Mobile,5,review,0,Best classes and good environment,Good thanks for everything good work group üëç h...
1,2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...
2,2023-12-10T08:21:35-05:00,Mobile,3,review,0,Walk around campus,We did a walk around most of the Harvard Campu...

In [3]:
data.describe()

            rating  helpful_votes
count  3184.000000    3184.000000
mean      4.456658       0.498744
std       0.744024       2.819638
min       1.000000       0.000000
25%       4.000000       0.000000
50%       5.000000       0.000000
75%       5.000000       1.000000
max       5.000000     111.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3184 entries, 0 to 3183
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   published_date      3184 non-null   object
 1   published_platform  3184 non-null   object
 2   rating              3184 non-null   int64
 3   type                3184 non-null   object
 4   helpful_votes       3184 non-null   int64
 5   title               3184 non-null   object
 6   text                3184 non-null   object
dtypes: int64(2), object(5)
memory usage: 174.2+ KB

**Unique Values**

In [5]:
data.nunique()

published_date        3184
published_platform       2
rating                   5
type                     1
helpful_votes           15
title                 2891
text                  3184
dtype: int64

In [6]:
list_ = ['published_platform', 'rating', 'type', 'helpful_votes']

for value in list_:
    unique_values = data[value].unique()
    print(f"Unique values in column '{value}': \n {unique_values} \n\n")

Unique values in column 'published_platform':
 ['Mobile' 'Desktop']


Unique values in column 'rating':
 [5 4 3 1 2]


Unique values in column 'type':
 ['review']


Unique values in column 'helpful_votes':
 [  0   2   1   3  91   4  19  48   5   7   8   6 111  14  10]

Since the variable *type* is always the same, it will be dropped.

In [7]:
data = data.drop('type', axis = 1)

## Exploratory Data Analysis

#### Missing Values

In [8]:
data.isnull().sum()

published_date        0
published_platform    0
rating                0
helpful_votes         0
title                 0
text                  0
dtype: int64

#### Duplicates

In [9]:
data[data.duplicated()]

Empty DataFrame
Columns: [published_date, published_platform, rating, helpful_votes, title, text]
Index: []

#### Feature Engineering

**Published Date**

In [10]:
# Transforming published_date to datetime
data['published_date'] = pd.to_datetime(data['published_date'], utc=True)
#data['published_date'] = pd.to_datetime(data['published_date'], format='%Y-%m-%dT%H:%M:%S%z')
data['published_date']

0      2023-12-28 13:02:14+00:00
1      2023-12-12 05:38:26+00:00
2      2023-12-10 13:21:35+00:00
3      2023-11-08 02:20:21+00:00
4      2023-10-02 21:40:42+00:00
                  ...
3179   2010-10-29 09:47:57+00:00
3180   2010-08-23 10:08:51+00:00
3181   2010-08-23 04:06:41+00:00
3182   2010-06-03 11:37:36+00:00
3183   2009-09-27 20:39:18+00:00
Name: published_date, Length: 3184, dtype: datetime64[ns, UTC]

Extracting Information from the converted variable *published_date*

In [11]:
data['Hour'] = data['published_date'].dt.dayofweek 
data['Day'] = data['published_date'].dt.day
data['Month'] = data['published_date'].dt.month
data['Year'] = data['published_date'].dt.year
#data['Week_day'] = data['published_date'].dt.dayofweek 
data['Timezone'] = data['published_date'].dt.tz

In [12]:
data

,published_date,published_platform,rating,helpful_votes,title,text,Hour,Day,Month,Year,Timezone
0,2023-12-28 13:02:14+00:00,Mobile,5,0,Best classes and good environment,Good thanks for everything good work group üëç h...,3,28,12,2023,UTC
1,2023-12-12 05:38:26+00:00,Desktop,4,0,Harvard University,Harvard University was founded in 1636 and is ...,1,12,12,2023,UTC
2,2023-12-10 13:21:35+00:00,Mobile,3,0,Walk around campus,We did a walk around most of the Harvard Campu...,6,10,12,2023,UTC
3,2023-11-08 02:20:21+00:00,Desktop,4,0,Interesting Harvard University,We had a walk through the university grounds w...,2,8,11,2023,UTC
4,2023-10-02 21:40:42+00:00,Desktop,5,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...,0,2,10,2023,UTC
...,...,...,...,...,...,...,...,...,...,...,...
3179,2010-10-29 09:47:57+00:00,Desktop,3,0,amerikanischer campus fuer touristen,wenn man in boston ist hat manmeistens zeit au...,4,29,10,2010,UTC
3180,2010-08-23 10:08:51+00:00,Desktop,3,0,Weniger als erwartet,Von der F√ºhrung der Harvard University erhofft...,0,23,8,2010,UTC
3181,2010-08-23 04:06:41+00:00,Desktop,5,0,bellissima universit√†,"da vedere questa citt√†, studio sede di una del...",0,23,8,2010,UTC
3182,2010-06-03 11:37:36+00:00,Desktop,5,2,"Tolle Universit√§t, definitiv einen Abstecher wert","Hallo,\nich habe ein Jahr an der Harvard Law S...",3,3,6,2010,UTC
3183,2009-09-27 20:39:18+00:00,Desktop,5,1,‰∏ÄÂ∫¶„ÅØË°å„Åè„Åπ„Åç,„Å®„Å¶„ÇÇÊ≠¥Âè≤„ÅÆ„ÅÇ„ÇãÁ¥†Êïµ„Å™Âª∫Áâ©„Åß„Åô„ÄÇ„Éè„Éº„Éê„Éº„Éâ„Çπ„ÇØ„Ç®„Ç¢„Éº„ÅÆÈßÖ„ÅÆËøë„Åè„Åã„ÇâÁÑ°Êñô„ÅÆ„ÉÑ„Ç¢„ÉºÔºàËã±Ë™ûÔºâ„Çí„Éè„Éº...,6,27,9,2009,UTC

### Text Preprocessing

In [15]:
from langdetect import detect

In [16]:
def detect_language(text):
    try:
        lang = detect(text)
    except:
        lang = 'unknown'  
    return lang

data['language'] = data['text'].apply(detect_language)

In [18]:
list_ = ['language']

for value in list_:
    unique_values = data[value].unique()
    print(f"Unique values in column '{value}': \n {unique_values} \n\n")

Unique values in column 'language':
 ['en' 'de' 'pt' 'es' 'ja' 'fr' 'it' 'pl' 'tr' 'el' 'ru' 'nl' 'sv' 'ko'
 'no' 'id' 'zh-cn' 'hu' 'ar' 'he' 'da' 'zh-tw' 'th' 'sk']

In [27]:
language_counts = data['language'].value_counts()
language_counts

language
en       1917
es        359
pt        314
it        158
fr        134
ja         75
de         58
ru         36
ko         29
nl         25
zh-cn      22
sv          9
tr          9
el          8
id          6
da          6
zh-tw       5
no          4
pl          3
he          2
th          2
hu          1
ar          1
sk          1
Name: count, dtype: int64