In [1]:
import pandas as pd

In [7]:
customer_info = pd.read_csv("C:/Users/aprataso/Downloads/final_data/treated/hh_treated.csv")
basket = pd.read_csv('C:/Users/aprataso/Downloads/final_data/treated/basket_treated.csv') # basket
campaign = pd.read_csv('C:/Users/aprataso/Downloads/final_data/treated/campaigns_treated.csv') # campaign
coupon = pd.read_csv('C:/Users/aprataso/Downloads/final_data/treated/coupon_treated.csv') # basket
prod = pd.read_csv('C:/Users/aprataso/Downloads/final_data/treated/prod_treated.csv') # prod
# prod

In [8]:
customer_info

,marital_status_code,homeowner_desc,hh_comp_desc,household_key,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household
0,A,Homeowner,2 Adults No Kids,1,senior,2.0,NaN,65.0,42000,NaN,2
1,A,Homeowner,2 Adults No Kids,7,middle-aged,2.0,NaN,49.5,62000,NaN,2
2,U,Unknown,2 Adults Kids,8,adult,2.0,True,29.5,29500,1.0,3
3,U,Homeowner,2 Adults Kids,13,adult,2.0,True,29.5,87000,2.0,4
4,B,Homeowner,Single Female,16,middle-aged,1.0,False,49.5,62000,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
796,U,Homeowner,2 Adults No Kids,2494,middle-aged,2.0,NaN,39.5,62000,NaN,2
797,A,Homeowner,Unknown,2496,middle-aged,NaN,NaN,49.5,87000,1.0,3
798,U,Unknown,Single Male,2497,middle-aged,1.0,False,49.5,42000,NaN,1
799,U,Homeowner,2 Adults No Kids,2498,adult,2.0,NaN,29.5,62000,NaN,2
800,U,Unknown,2 Adults Kids,2499,adult,2.0,True,29.5,15000,1.0,3

In [10]:
basket['total_quantity'] = basket['quantity'].apply(sum)
basket

TypeError: unsupported operand type(s) for +: 'int' and 'str'