In [44]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [50]:
art = pd.read_csv('C:/Users/aprataso/Downloads/final_data/artificial data.csv')
data = pd.read_csv('C:/Users/aprataso/Downloads/final_data/treated/customer_info.csv')
#art = art.drop(['household_key'], axis = 1)
art

,marital_status_code,homeowner_desc,household_key,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender(s)
0,B,Probable Owner,41,single,young-adult,1.0,False,21.5,25000,0.0,1,0.0
1,A,Homeowner,42,married,middle-aged,2.0,True,49.5,137000,2.0,4,2.0
2,B,Renter,43,single,senior,1.0,False,65.0,19500,0.0,1,1.0
3,A,Homeowner,44,married,senior,1.0,False,65.0,162000,0.0,1,1.0
4,A,Homeowner,45,married,middle-aged,2.0,True,49.5,25000,2.0,4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1694,U,Renter,1735,unknown,senior,2.0,False,65.0,195000,0.0,2,2.0
1695,A,Probable Renter,1736,married,young_adult,1.0,False,29.5,112000,0.0,1,0.0
1696,B,Probable Owner,1737,single,middle_age,2.0,False,39.5,195000,0.0,2,0.0
1697,U,Unknown,1738,unknown,middle_age,1.0,True,39.5,250000,1.0,2,1.0
1698,U,Renter,1739,unknown,young_adult,1.0,False,29.5,29500,0.0,1,0.0

In [51]:
art['gender'] = art['gender(s)']
art = art.drop(['gender(s)'], axis = 1)

data['gender'] = data['gender(s)']
data = data.drop(['gender(s)'], axis = 1)

In [13]:
data = data.drop(['Unnamed: 0'], axis =1)
data

,household_key,quantity,retail_disc,coupon_disc,coupon_match_disc,sales_value_eu,department,first_transaction_date,marital_status_code,homeowner_desc,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender(s),Groceries_spend,DELI_spend,Meat_spend,Bakery_spend,DRUG GM_spend,SALAD BAR_spend,MISC SALES TRAN_spend,RESTAURANT_spend,FLORAL_spend,Seafood_spend,COSMETICS_spend,KIOSK-GAS_spend,CHEF SHOPPE_spend,GARDEN CENTER_spend,MISC. TRANS._spend,SPIRITS_spend,DAIRY DELI_spend,AUTOMOTIVE_spend,TRAVEL & LEISUR_spend,CNTRL/STORE SUP_spend,COUP/STR & MFG_spend,GM MERCH EXP_spend,POSTAL CENTER_spend,DELI/SNACK BAR_spend,VIDEO_spend,CHARITABLE CONT_spend,RX_spend,VIDEO RENTAL_spend,PHOTO_spend,PROD-WHS SALES_spend,PHARMACY SUPPLY_spend,TOYS_spend,HBC_spend,ELECT &PLUMBING_spend,HOUSEWARES_spend,dep_quantity
0,1,"[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",-0.403613,-0.046647,-0.015142,"[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[""Groceries"", ""Groceries"", ""Groceries"", ""DELI""...",2021-02-20,A,Homeowner,married,senior,2.0,False,65.0,42000.0,0.0,2.0,2.0,3285.02,226.99,373.56,102.01,568.23,44.09,21.40,4.47,8.55,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 13, 'G..."
1,2,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...",-0.469174,-0.012605,0.000000,"[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-04-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1361.50,50.01,238.86,26.55,353.11,0.00,4.56,0.00,23.53,9.62,23.62,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA..."
2,3,"[1, 1, 1, 1, 3, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, ...",-0.732278,-0.066367,-0.021475,"[3.3, 1.75, 1.38, 1.06, 5.35, 2.23, 4.28, 1.81...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-04-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1982.59,39.02,608.90,3.52,170.16,1.46,0.00,0.00,0.00,10.68,1.34,21.41,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 1, 'GA..."
3,4,"[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, ...",-0.384219,-0.008306,0.000000,"[3.21, 0.47, 1.92, 1.61, 1.96, 3.84, 2.14, 1.0...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-04-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,756.41,15.36,154.50,0.00,341.32,0.00,0.00,0.00,0.00,14.31,2.27,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA..."
4,5,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, ...",-0.533018,0.000000,0.000000,"[2.13, 2.66, 5.93, 8.12, 2.77, 3.75, 3.57, 6.9...","[""DRUG GM"", ""DRUG GM"", ""DRUG GM"", ""Meat"", ""Gro...",2021-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388.78,85.67,129.24,2.55,217.32,0.00,0.00,0.00,0.00,0.00,10.14,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,"[1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 1, 6, 1, 1, 1, ...",-0.748885,-0.034654,-0.008328,"[0.85, 3.97, 3.16, 1.17, 3.2, 5.69, 17.38, 1.8...","[""Groceries"", ""Meat"", ""Groceries"", ""Groceries""...",2021-04-27,A,Homeowner,married,middle-aged,2.0,False,49.5,87000.0,0.0,3.0,2.0,2255.22,105.82,1383.51,31.68,357.55,0.00,68.56,0.00,0.00,80.77,0.00,346.69,0.0,0.0,0.00,12.83,0.0,0.0,0.00,0.0,0.0,0.0,1.69,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA..."
2496,2497,"[1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, ...",-0.683502,-0.008583,-0.000382,"[27.1, 3.25, 31.39, 5.35, 3.57, 8.55, 5.35, 5....","[""DRUG GM"", ""DRUG GM"", ""DRUG GM"", ""Groceries"",...",2021-03-19,U,Unknown,single,middle-aged,1.0,False,49.5,42000.0,0.0,1.0,0.0,5153.24,305.98,1052.90,69.07,748.28,6.19,15.39,0.00,34.20,65.19,25.33,134.93,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 2, 'GA..."
2497,2498,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",-0.325262,0.000000,0.000000,"[0.11, 0.11, 2.88, 0.11, 0.11, 0.11, 0.11, 0.2...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-04-15,U,Homeowner,unknown,adult,2.0,False,29.5,62000.0,0.0,2.0,2.0,2009.72,53.07,201.03,57.95,330.57,20.06,74.63,0.00,13.90,0.00,2.77,0.00,0.0,0.0,0.00,17.10,0.0,0.0,3.23,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 5, 'GA..."
2498,2499,"[1, 1, 6, 7, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, ...",-0.427187,-0.003045,-0.000386,"[4.27, 1.61, 5.07, 20.9, 2.55, 5.24, 3.57, 3.5...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-03-11,U,Unknown,unknown,adult,2.0,True,29.5,15000.0,1.0,3.0,2.0,2296.72,85.38,363.04,115.53,322.69,0.00,198.59,0.00,66.29,0.00,0.00,171.21,0.0,0.0,7.48,0.00,0.0,0.0,5.35,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA..."
2499,2500,"[1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",-0.637665,-0.064278,-0.009847,"[2.87, 6.2, 6.07, 3.2, 3.52, 2.11, 2.45, 3.73,...","[""DRUG GM"", ""DRUG GM"", ""Groceries"", ""Groceries...",2021-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3202.77,72.13,323.87,12.20,1492.73,0.00,35.09,0.00,0.00,43.07,13.32,675.55,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA..."

In [54]:
data[data['household_key'] ==2]

,Unnamed: 0,household_key,quantity,retail_disc,coupon_disc,coupon_match_disc,sales_value_eu,department,first_transaction_date,marital_status_code,homeowner_desc,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,Groceries_spend,DELI_spend,Meat_spend,Bakery_spend,DRUG GM_spend,SALAD BAR_spend,MISC SALES TRAN_spend,RESTAURANT_spend,FLORAL_spend,Seafood_spend,COSMETICS_spend,KIOSK-GAS_spend,CHEF SHOPPE_spend,GARDEN CENTER_spend,MISC. TRANS._spend,SPIRITS_spend,DAIRY DELI_spend,AUTOMOTIVE_spend,TRAVEL & LEISUR_spend,CNTRL/STORE SUP_spend,COUP/STR & MFG_spend,GM MERCH EXP_spend,POSTAL CENTER_spend,DELI/SNACK BAR_spend,VIDEO_spend,CHARITABLE CONT_spend,RX_spend,VIDEO RENTAL_spend,PHOTO_spend,PROD-WHS SALES_spend,PHARMACY SUPPLY_spend,TOYS_spend,HBC_spend,ELECT &PLUMBING_spend,HOUSEWARES_spend,dep_quantity,gender
1,1,2,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...",-0.469174,-0.012605,0.0,"[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-04-13,B,Probable Owner,single,young-adult,1.0,False,21.5,25000.0,0.0,1.0,1361.5,50.01,238.86,26.55,353.11,0.0,4.56,0.0,23.53,9.62,23.62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA...",0.0

In [55]:
art.head(1)

,marital_status_code,homeowner_desc,household_key,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender
0,B,Probable Owner,41,single,young-adult,1.0,False,21.5,25000,0.0,1,0.0

In [53]:
data.isna().sum()

Unnamed: 0                0
household_key             0
quantity                  0
retail_disc               0
coupon_disc               0
coupon_match_disc         0
sales_value_eu            0
department                0
first_transaction_date    0
marital_status_code       0
homeowner_desc            0
marital_status            0
age_group                 0
adult_category_size       0
has_kids                  0
avg_age                   0
avg_income                0
n_kids                    0
n_household               0
Groceries_spend           0
DELI_spend                0
Meat_spend                0
Bakery_spend              0
DRUG GM_spend             0
SALAD BAR_spend           0
MISC SALES TRAN_spend     0
RESTAURANT_spend          0
FLORAL_spend              0
Seafood_spend             0
COSMETICS_spend           0
KIOSK-GAS_spend           0
CHEF SHOPPE_spend         0
GARDEN CENTER_spend       0
MISC. TRANS._spend        0
SPIRITS_spend             0
DAIRY DELI_spend          0
AUTOMOTIVE_spend          0
TRAVEL & LEISUR_spend     0
CNTRL/STORE SUP_spend     0
COUP/STR & MFG_spend      0
GM MERCH EXP_spend        0
POSTAL CENTER_spend       0
DELI/SNACK BAR_spend      0
VIDEO_spend               0
CHARITABLE CONT_spend     0
RX_spend                  0
VIDEO RENTAL_spend        0
PHOTO_spend               0
PROD-WHS SALES_spend      0
PHARMACY SUPPLY_spend     0
TOYS_spend                0
HBC_spend                 0
ELECT &PLUMBING_spend     0
HOUSEWARES_spend          0
dep_quantity              0
gender                    0
dtype: int64

In [52]:
art_iterator = iter(art.itertuples(index=False))

# Fill missing values in `data`
for row_index, row in data.iterrows():
    # Check if the row has missing values
    if row.isna().any():
        # Get the corresponding fill values from `art`
        art_row = next(art_iterator)
        
        # Fill missing values
        for column in data.columns:
            if pd.isna(row[column]):
                data.at[row_index, column] = getattr(art_row, column)

data

,Unnamed: 0,household_key,quantity,retail_disc,coupon_disc,coupon_match_disc,sales_value_eu,department,first_transaction_date,marital_status_code,homeowner_desc,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,Groceries_spend,DELI_spend,Meat_spend,Bakery_spend,DRUG GM_spend,SALAD BAR_spend,MISC SALES TRAN_spend,RESTAURANT_spend,FLORAL_spend,Seafood_spend,COSMETICS_spend,KIOSK-GAS_spend,CHEF SHOPPE_spend,GARDEN CENTER_spend,MISC. TRANS._spend,SPIRITS_spend,DAIRY DELI_spend,AUTOMOTIVE_spend,TRAVEL & LEISUR_spend,CNTRL/STORE SUP_spend,COUP/STR & MFG_spend,GM MERCH EXP_spend,POSTAL CENTER_spend,DELI/SNACK BAR_spend,VIDEO_spend,CHARITABLE CONT_spend,RX_spend,VIDEO RENTAL_spend,PHOTO_spend,PROD-WHS SALES_spend,PHARMACY SUPPLY_spend,TOYS_spend,HBC_spend,ELECT &PLUMBING_spend,HOUSEWARES_spend,dep_quantity,gender
0,0,1,"[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",-0.403613,-0.046647,-0.015142,"[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[""Groceries"", ""Groceries"", ""Groceries"", ""DELI""...",2021-02-20,A,Homeowner,married,senior,2.0,False,65.0,42000.0,0.0,2.0,3285.02,226.99,373.56,102.01,568.23,44.09,21.40,4.47,8.55,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 13, 'G...",2.0
1,1,2,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, ...",-0.469174,-0.012605,0.000000,"[0.7, 4.78, 1.07, 0.85, 2.68, 2.68, 2.68, 5.35...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-04-13,B,Probable Owner,single,young-adult,1.0,False,21.5,25000.0,0.0,1.0,1361.50,50.01,238.86,26.55,353.11,0.00,4.56,0.00,23.53,9.62,23.62,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA...",0.0
2,2,3,"[1, 1, 1, 1, 3, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, ...",-0.732278,-0.066367,-0.021475,"[3.3, 1.75, 1.38, 1.06, 5.35, 2.23, 4.28, 1.81...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-04-23,A,Homeowner,married,middle-aged,2.0,True,49.5,137000.0,2.0,4.0,1982.59,39.02,608.90,3.52,170.16,1.46,0.00,0.00,0.00,10.68,1.34,21.41,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 1, 'GA...",2.0
3,3,4,"[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, ...",-0.384219,-0.008306,0.000000,"[3.21, 0.47, 1.92, 1.61, 1.96, 3.84, 2.14, 1.0...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-04-14,B,Renter,single,senior,1.0,False,65.0,19500.0,0.0,1.0,756.41,15.36,154.50,0.00,341.32,0.00,0.00,0.00,0.00,14.31,2.27,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA...",1.0
4,4,5,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, ...",-0.533018,0.000000,0.000000,"[2.13, 2.66, 5.93, 8.12, 2.77, 3.75, 3.57, 6.9...","[""DRUG GM"", ""DRUG GM"", ""DRUG GM"", ""Meat"", ""Gro...",2021-03-26,A,Homeowner,married,senior,1.0,False,65.0,162000.0,0.0,1.0,388.78,85.67,129.24,2.55,217.32,0.00,0.00,0.00,0.00,0.00,10.14,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA...",1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2495,2496,"[1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 1, 6, 1, 1, 1, ...",-0.748885,-0.034654,-0.008328,"[0.85, 3.97, 3.16, 1.17, 3.2, 5.69, 17.38, 1.8...","[""Groceries"", ""Meat"", ""Groceries"", ""Groceries""...",2021-04-27,A,Homeowner,married,middle-aged,2.0,False,49.5,87000.0,0.0,3.0,2255.22,105.82,1383.51,31.68,357.55,0.00,68.56,0.00,0.00,80.77,0.00,346.69,0.0,0.0,0.00,12.83,0.0,0.0,0.00,0.0,0.0,0.0,1.69,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA...",2.0
2496,2496,2497,"[1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, ...",-0.683502,-0.008583,-0.000382,"[27.1, 3.25, 31.39, 5.35, 3.57, 8.55, 5.35, 5....","[""DRUG GM"", ""DRUG GM"", ""DRUG GM"", ""Groceries"",...",2021-03-19,U,Unknown,single,middle-aged,1.0,False,49.5,42000.0,0.0,1.0,5153.24,305.98,1052.90,69.07,748.28,6.19,15.39,0.00,34.20,65.19,25.33,134.93,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 2, 'GA...",0.0
2497,2497,2498,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",-0.325262,0.000000,0.000000,"[0.11, 0.11, 2.88, 0.11, 0.11, 0.11, 0.11, 0.2...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-04-15,U,Homeowner,unknown,adult,2.0,False,29.5,62000.0,0.0,2.0,2009.72,53.07,201.03,57.95,330.57,20.06,74.63,0.00,13.90,0.00,2.77,0.00,0.0,0.0,0.00,17.10,0.0,0.0,3.23,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 5, 'GA...",2.0
2498,2498,2499,"[1, 1, 6, 7, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, ...",-0.427187,-0.003045,-0.000386,"[4.27, 1.61, 5.07, 20.9, 2.55, 5.24, 3.57, 3.5...","[""Groceries"", ""Groceries"", ""Groceries"", ""Groce...",2021-03-11,U,Unknown,unknown,adult,2.0,True,29.5,15000.0,1.0,3.0,2296.72,85.38,363.04,115.53,322.69,0.00,198.59,0.00,66.29,0.00,0.00,171.21,0.0,0.0,7.48,0.00,0.0,0.0,5.35,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA...",2.0
2499,2499,2500,"[1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",-0.637665,-0.064278,-0.009847,"[2.87, 6.2, 6.07, 3.2, 3.52, 2.11, 2.45, 3.73,...","[""DRUG GM"", ""DRUG GM"", ""Groceries"", ""Groceries...",2021-03-20,U,Renter,unknown,young_adult,1.0,False,29.5,29500.0,0.0,1.0,3202.77,72.13,323.87,12.20,1492.73,0.00,35.09,0.00,0.00,43.07,13.32,675.55,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{'RX': 0, 'AUTOMOTIVE': 0, 'SALAD BAR': 0, 'GA...",0.0

In [56]:
data.to_csv('C:/Users/aprataso/Downloads/final_data/treated/customer_data_complete.csv', index=False)