In [10]:
import pandas as pd
import numpy as np

In [62]:
hh = pd.read_csv("C:/Users/aprataso/Downloads/final_data/hh_demographic_enriched.csv")
transaction = pd.read_csv("C:/Users/aprataso/Downloads/final_data/transaction_data_enriched.csv")
campaign = pd.read_csv("C:/Users/aprataso/Downloads/final_data/campaign_enriched.csv")
prod = pd.read_csv("C:/Users/aprataso/Downloads/final_data/product_enriched.csv")
coupon = pd.read_csv("C:/Users/aprataso/Downloads/final_data/coupon_enriched.csv")

In [33]:
list_ =[hh, transaction, campaign, prod, coupon]

for i, df in enumerate(list_):
    print(df.describe())
    print(f'\n')

       household_key  adult_category_size
count     801.000000           728.000000
mean     1235.176030             1.607143
std       736.804647             0.488721
min         1.000000             1.000000
25%       596.000000             1.000000
50%      1218.000000             2.000000
75%      1914.000000             2.000000
max      2499.000000             2.000000


       household_key     basket_id           day    product_id      quantity  \
count   2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06
mean    1.271953e+03  3.402620e+10  3.887562e+02  2.891435e+06  1.004286e+02
std     7.260660e+02  4.711649e+09  1.897210e+02  3.837404e+06  1.153436e+03
min     1.000000e+00  2.698485e+10  1.000000e+00  2.567100e+04  0.000000e+00
25%     6.560000e+02  3.040805e+10  2.290000e+02  9.174590e+05  1.000000e+00
50%     1.272000e+03  3.276081e+10  3.900000e+02  1.028816e+06  1.000000e+00
75%     1.913000e+03  4.012685e+10  5.530000e+02  1.133018e+06  1.000000e+00
max     2.500000e+03  4.230536e+10  7.110000e+02  1.831630e+07  8.963800e+04

        sales_value      store_id   retail_disc    trans_time       week_no  \
count  2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06
mean   3.104120e+00  3.142673e+03 -5.387054e-01  1.561586e+03  5.622150e+01
std    4.182274e+00  8.937113e+03  1.249191e+00  3.998378e+02  2.710223e+01
min    0.000000e+00  1.000000e+00 -1.800000e+02  0.000000e+00  1.000000e+00
25%    1.290000e+00  3.300000e+02 -6.900000e-01  1.308000e+03  3.300000e+01
50%    2.000000e+00  3.720000e+02 -1.000000e-02  1.613000e+03  5.600000e+01
75%    3.490000e+00  4.220000e+02  0.000000e+00  1.843000e+03  8.000000e+01
max    8.400000e+02  3.428000e+04  3.990000e+00  2.359000e+03  1.020000e+02

        coupon_disc  coupon_match_disc  sales_value_eu  loyalty_card_price  \
count  2.595732e+06       2.595732e+06    2.595732e+06        2.581266e+06
mean  -1.641600e-02      -2.918564e-03    3.321852e+00        2.842648e+00
std    2.168410e-01       3.969004e-02    4.474974e+00        3.017948e+00
min   -5.593000e+01      -7.700000e+00    0.000000e+00       -4.700000e-01
25%    0.000000e+00       0.000000e+00    1.380000e+00        1.290000e+00
50%    0.000000e+00       0.000000e+00    2.140000e+00        2.190000e+00
75%    0.000000e+00       0.000000e+00    3.730000e+00        3.490000e+00
max    0.000000e+00       0.000000e+00    8.988000e+02        5.499900e+02

       non_loyalty_card_price         days_
count            2.581266e+06  2.595732e+06
mean             2.439429e+00  3.887562e+02
std              2.720569e+00  1.897210e+02
min              0.000000e+00  1.000000e+00
25%              1.000000e+00  2.290000e+02
50%              1.940000e+00  3.900000e+02
75%              2.990000e+00  5.530000e+02
max              4.999900e+02  7.110000e+02


          campaign    start_day      end_day  household_key  campaign_duration
count  7208.000000  7208.000000  7208.000000    7208.000000        7208.000000
mean     15.659545   488.397752   533.898724    1268.696726          45.500971
std       6.949705   113.294910   115.544717     731.936391          11.708238
min       1.000000   224.000000   264.000000       1.000000          32.000000
25%       9.000000   412.000000   460.000000     644.000000          34.000000
50%      14.000000   504.000000   551.000000    1263.000000          47.000000
75%      20.000000   587.000000   642.000000    1924.000000          53.000000
max      30.000000   659.000000   719.000000    2500.000000         161.000000


         product_id  manufacturer  curr_size_of_product_value
count  9.235300e+04   92353.00000                6.107900e+04
mean   5.328353e+06    1739.22833                2.085982e+04
std    5.359937e+06    1818.26957                9.364064e+05
min    2.567100e+04       1.00000                0.000000e+00
25%    9.706280e+05     328.00000                6.000000e+00
50%    1.621091e+06    1094.00000                1.200000e+01
75%    9.704770e+06    2264.00000                1.900000e+01
max    1.831630e+07    6477.00000                8.371871e+07


         coupon_upc    product_id  household_key           day      campaign
count  2.334732e+06  2.334732e+06   2.318441e+06  2.318441e+06  2.318441e+06
mean   1.392684e+10  4.691254e+06   1.347660e+03  5.443067e+02  1.460129e+01
std    1.250159e+10  4.940094e+06   7.504984e+02  7.083763e+01  4.012291e+00
min    1.000009e+10  2.567100e+04   1.000000e+00  2.250000e+02  1.000000e+00
25%    1.000009e+10  9.573450e+05   6.920000e+02  5.090000e+02  1.300000e+01
50%    1.000009e+10  1.423340e+06   1.421000e+03  5.410000e+02  1.300000e+01
75%    1.000009e+10  9.196585e+06   2.007000e+03  6.050000e+02  1.800000e+01
max    5.998660e+10  1.814854e+07   2.500000e+03  7.040000e+02  3.000000e+01

## HH_demographic

In [77]:
hh

,marital_status_code,homeowner_desc,hh_comp_desc,household_key,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household
0,A,Homeowner,2 Adults No Kids,1,senior,2.0,None,65.0,42000,NaN,2
1,A,Homeowner,2 Adults No Kids,7,middle-aged,2.0,None,49.5,62000,NaN,2
2,U,Unknown,2 Adults Kids,8,adult,2.0,True,29.5,29500,1.0,3
3,U,Homeowner,2 Adults Kids,13,adult,2.0,True,29.5,87000,2.0,4
4,B,Homeowner,Single Female,16,middle-aged,1.0,False,49.5,62000,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
796,U,Homeowner,2 Adults No Kids,2494,middle-aged,2.0,None,39.5,62000,NaN,2
797,A,Homeowner,Unknown,2496,middle-aged,NaN,None,49.5,87000,1.0,3
798,U,Unknown,Single Male,2497,middle-aged,1.0,False,49.5,42000,NaN,1
799,U,Homeowner,2 Adults No Kids,2498,adult,2.0,None,29.5,62000,NaN,2
800,U,Unknown,2 Adults Kids,2499,adult,2.0,True,29.5,15000,1.0,3

In [76]:
hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   marital_status_code  801 non-null    object
 1   homeowner_desc       801 non-null    object
 2   hh_comp_desc         801 non-null    object
 3   household_key        801 non-null    int64
 4   age_group            801 non-null    object
 5   adult_category_size  728 non-null    float64
 6   has_kids             426 non-null    object
 7   avg_age              801 non-null    float64
 8   avg_income           801 non-null    int64
 9   n_kids               243 non-null    float64
 10  n_household          801 non-null    int64
dtypes: float64(3), int64(3), object(5)
memory usage: 69.0+ KB

In [63]:
hh['has_kids'] = hh['has_kids'].replace({
    'Yes': True,
    'No': False,
    'unknown': None
})

Age

In [64]:
hh['min_age'] = hh['age_desc'].str[:2]
hh['max_age'] = hh['age_desc'].apply(lambda x: x[-2:] if len(x) > 3 else 65)

hh['min_age'] = hh['min_age'].astype('int')
hh['min_age'].unique()

array([65, 45, 25, 35, 19, 55])

In [65]:
hh['max_age'] = hh['max_age'].astype(int)
hh['max_age'].unique()

array([65, 54, 34, 44, 24, 64])

In [66]:
hh['avg_age'] = (hh['min_age'] + hh['max_age']) / 2

Income

In [67]:
hh['income_'] = hh['income_desc'].str.findall(r'\d+')
hh['income_'] = hh['income_'].apply(lambda x: list(map(int, x)) if x else [])
hh[['income_', 'income_desc']]

      income_ income_desc
0    [35, 49]      35-49K
1    [50, 74]      50-74K
2    [25, 34]      25-34K
3    [75, 99]      75-99K
4    [50, 74]      50-74K
..        ...         ...
796  [50, 74]      50-74K
797  [75, 99]      75-99K
798  [35, 49]      35-49K
799  [50, 74]      50-74K
800      [15]   Under 15K

[801 rows x 2 columns]

In [68]:
hh['avg_income'] = hh['income_'].apply(lambda x: sum(x) / len(x) * 1000 if len(x) > 0 else None)
hh['avg_income'] = hh['avg_income'].astype(int)
hh['avg_income']

0      42000
1      62000
2      29500
3      87000
4      62000
       ...
796    62000
797    87000
798    42000
799    62000
800    15000
Name: avg_income, Length: 801, dtype: int64

Category Sizes

In [70]:
hh['n_kids'] = hh['kid_category_desc'].replace({
    '1': 1,
    '2': 2,
    '3+': 3,
    'None/Unknown': None
})

C:\Users\aprataso\AppData\Local\Temp\ipykernel_16772\1066555400.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hh['n_kids'] = hh['kid_category_desc'].replace({

In [74]:
hh['n_household'] = hh['household_size_desc'].replace({
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5+': 5
})

C:\Users\aprataso\AppData\Local\Temp\ipykernel_16772\1114001840.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hh['n_household'] = hh['household_size_desc'].replace({

In [73]:
hh['household_size_desc'].unique()

array(['2', '3', '4', '1', '5+'], dtype=object)

drop unnecessary

In [75]:
hh = hh.drop(['marital_status', 'min_age', 'max_age', 'income_', 'income_desc', 
              'age_desc', 'household_size_desc', 'kid_category_desc'], axis = 1)

## Transaction

In [80]:
transaction

,household_key,basket_id,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,transaction_date
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0,1.49,1.99,1.39,1,2021-01-01
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0,0.88,0.82,0.82,1,2021-01-01
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0,1.06,1.29,0.99,1,2021-01-01
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0,1.29,1.21,1.21,1,2021-01-01
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0,1.61,1.89,1.50,1,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595727,1598,42305362535,711,92130,1,0.99,3228,0.00,1520,102,0.0,0.0,1.06,0.99,0.99,711,2022-12-12
2595728,1598,42305362535,711,114102,1,8.89,3228,0.00,1520,102,0.0,0.0,9.51,8.89,8.89,711,2022-12-12
2595729,1598,42305362535,711,133449,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12
2595730,1598,42305362535,711,6923644,1,4.50,3228,-0.49,1520,102,0.0,0.0,4.82,4.99,4.50,711,2022-12-12
2595731,1598,42305362535,711,14055192,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12

In [81]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2595732 entries, 0 to 2595731
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   household_key           int64
 1   basket_id               int64
 2   day                     int64
 3   product_id              int64
 4   quantity                int64
 5   sales_value             float64
 6   store_id                int64
 7   retail_disc             float64
 8   trans_time              int64
 9   week_no                 int64
 10  coupon_disc             float64
 11  coupon_match_disc       float64
 12  sales_value_eu          float64
 13  loyalty_card_price      float64
 14  non_loyalty_card_price  float64
 15  days_                   int64
 16  transaction_date        object
dtypes: float64(7), int64(9), object(1)
memory usage: 336.7+ MB

prices

In [85]:
transaction['loyalty_eu'] = transaction['loyalty_card_price'] * 1.07
transaction['non_loyalty_eu'] = transaction['non_loyalty_card_price'] * 1.07

In [ ]:
transaction = transaction.drop(['days_', 'loyalty_card_price', 'non_loyalty_card_price', 'sales_value'])

In [89]:
basket = transaction.groupby(['household_key', 'basket_id', 'day']).agg({
    'product_id': lambda x: list(x),
    'quantity': lambda x: list(x),
    'store_id': 'first',
    'retail_disc': lambda x: list(x),
    'trans_time': 'first',
    'week_no': 'first',
    'coupon_disc': lambda x: list(x),
    'coupon_match_disc': lambda x: list(x),
    'sales_value_eu': lambda x: list(x),
    'loyalty_eu': lambda x: list(x),
    'non_loyalty_eu': lambda x: list(x),
    'transaction_date': 'first'
}).reset_index()

basket.sort_values(by='day')

,household_key,basket_id,day,product_id,quantity,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_eu,non_loyalty_eu,transaction_date
129549,1172,26985025264,1,"[877180, 878664, 930917, 940796, 981760, 99997...","[1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",396,"[0.0, -0.99, -0.78, 0.0, -0.6, -0.3, -0.89, -0...",946,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[2.45, 2.14, 2.14, 3.84, 0.85, 1.06, 4.75, 2.1...","[2.4503000000000004, 3.1993000000000005, 1.487...","[2.4503000000000004, 2.14, 1.07, 3.8413, 0.845...",2021-01-01
147794,1351,26985052379,1,[903230],[1],447,[-0.3],1955,1,[0.0],[0.0],[1.06],[1.3803],[1.0593000000000001],2021-01-01
118142,1060,26985040735,1,"[820162, 827656, 829617, 833014, 833598, 84655...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...",315,"[0.0, 0.0, -0.5, -0.2, -0.44, 0.0, 0.0, 0.0, 0...",1251,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.92, 4.01, 1.59, 2.99, 2.35, 1.92, 1.58, 4.5...","[1.9153000000000002, 4.0125, 2.1293, 3.1993000...","[1.9153000000000002, 4.0125, 1.5943, 2.9853, 2...",2021-01-01
274742,2483,26992197681,1,[3843566],[2],2602,[-0.98],1823,1,[0.0],[0.0],[5.35],[3.1993000000000005],[2.6750000000000003],2021-01-01
263586,2375,26984851472,1,"[1004906, 1033142, 1036325, 1082185, 8160430]","[1, 1, 1, 1, 1]",364,"[-0.6, 0.0, -0.3, 0.0, -0.39]",1631,1,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[1.49, 0.88, 1.06, 1.29, 1.61]","[2.1293, 0.8774, 1.3803, 1.2947, 2.0223]","[1.4873, 0.8774, 1.0593000000000001, 1.2947, 1...",2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77449,715,42289858738,711,"[878234, 903602, 984669, 986394, 1080414, 1128...","[3, 1, 1, 3, 3, 3, 1, 1]",415,"[-0.78, 0.0, -0.5, -0.79, -0.77, 0.0, -1.29, -...",1748,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1.07, 6.41, 2.45, 1.07, 1.07, 3.21, 2.68, 6.41]","[0.6313, 6.409300000000001, 2.9853, 0.642, 0.6...","[0.3531, 6.409300000000001, 2.4503000000000004...",2022-12-12
217552,1969,42289681743,711,"[859010, 883404, 1081177, 1096317, 1123842, 80...","[1, 1, 1, 1, 1, 1, 1]",356,"[-0.3, -0.29, 0.0, 0.0, -1.29, -2.41, -2.41]",1431,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2.45, 1.07, 2.33, 1.59, 2.68, 3.08, 3.08]","[2.7713, 1.3803, 2.3326000000000002, 1.5943, 4...","[2.4503000000000004, 1.07, 2.3326000000000002,...",2022-12-12
90739,840,42289776960,711,"[827802, 840573, 860975, 872183, 874972, 91794...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...",400,"[-0.49, -0.39, 0.0, -1.0, -1.68, 0.0, 0.0, 0.0...",1456,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.61, 2.14, 2.13, 3.2, 10.76, 1.7, 4.7, 1.53,...","[2.1293, 2.5573, 2.1293, 4.2693, 12.5618000000...","[1.605, 2.14, 2.1293, 3.1993000000000005, 10.7...",2022-12-12
220239,1994,42289346034,711,"[854405, 859075, 862308, 883404, 893501, 89871...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]",31782,"[-2.0, -0.53, -0.59, -0.29, -0.09, 0.0, -0.53,...",1329,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[8.55, 1.34, 1.07, 1.07, 1.61, 2.13, 1.34, 1.9...","[10.689300000000001, 1.9046, 1.701300000000000...","[8.5493, 1.3375000000000001, 1.07, 1.07, 1.605...",2022-12-12
220238,1994,42289346015,711,"[923438, 1053690, 1124695, 1134810, 13945093]","[1, 2, 1, 1, 1]",31782,"[-0.49, -0.18, -0.25, -0.25, -0.49]",1325,102,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[2.68, 3.21, 2.68, 2.68, 2.68]","[3.1993000000000005, 1.7013000000000003, 2.942...","[2.6750000000000003, 1.605, 2.6750000000000003...",2022-12-12

In [90]:
basket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276484 entries, 0 to 276483
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   household_key      276484 non-null  int64
 1   basket_id          276484 non-null  int64
 2   day                276484 non-null  int64
 3   product_id         276484 non-null  object
 4   quantity           276484 non-null  object
 5   store_id           276484 non-null  int64
 6   retail_disc        276484 non-null  object
 7   trans_time         276484 non-null  int64
 8   week_no            276484 non-null  int64
 9   coupon_disc        276484 non-null  object
 10  coupon_match_disc  276484 non-null  object
 11  sales_value_eu     276484 non-null  object
 12  loyalty_eu         276484 non-null  object
 13  non_loyalty_eu     276484 non-null  object
 14  transaction_date   276484 non-null  object
dtypes: int64(6), object(9)
memory usage: 31.6+ MB

## Campaign

In [91]:
campaign

,campaign,start_day,end_day,description,household_key,campaign_duration,start_date,end_date
0,26,224,264,TypeA,17,40,2021-08-12,2021-09-21
1,26,224,264,TypeA,27,40,2021-08-12,2021-09-21
2,26,224,264,TypeA,212,40,2021-08-12,2021-09-21
3,26,224,264,TypeA,208,40,2021-08-12,2021-09-21
4,26,224,264,TypeA,192,40,2021-08-12,2021-09-21
...,...,...,...,...,...,...,...,...
7203,15,547,708,TypeC,1803,161,2022-07-01,2022-12-09
7204,15,547,708,TypeC,1082,161,2022-07-01,2022-12-09
7205,15,547,708,TypeC,942,161,2022-07-01,2022-12-09
7206,15,547,708,TypeC,855,161,2022-07-01,2022-12-09
7207,15,547,708,TypeC,334,161,2022-07-01,2022-12-09

In [94]:
campaigns_per_household = campaign.groupby('household_key').agg({
    'campaign': lambda x: list(x),
    'description': lambda x: list(x),
    'start_day': lambda x: list(x),            
    'end_day': lambda x: list(x),               
    'campaign_duration': lambda x: list(x),     
    'start_date': lambda x: list(x),            
    'end_date': lambda x: list(x)               
}).reset_index()

campaigns_per_household.sort_values(by= 'household_key')

,household_key,campaign,description,start_day,end_day,campaign_duration,start_date,end_date
0,1,"[8, 13, 18, 29, 12, 22, 23, 20]","[TypeA, TypeA, TypeA, TypeB, TypeB, TypeB, Typ...","[412, 504, 587, 281, 477, 624, 646, 615]","[460, 551, 642, 334, 509, 656, 684, 685]","[48, 47, 55, 53, 32, 32, 38, 70]","[2022-02-16, 2022-05-19, 2022-08-10, 2021-10-0...","[2022-04-05, 2022-07-05, 2022-10-04, 2021-11-3..."
1,2,[18],[TypeA],[587],[642],[55],[2022-08-10],[2022-10-04]
2,3,"[8, 13, 14]","[TypeA, TypeA, TypeC]","[412, 504, 531]","[460, 551, 596]","[48, 47, 65]","[2022-02-16, 2022-05-19, 2022-06-15]","[2022-04-05, 2022-07-05, 2022-08-19]"
3,4,[8],[TypeA],[412],[460],[48],[2022-02-16],[2022-04-05]
4,6,"[8, 13, 18, 7]","[TypeA, TypeA, TypeA, TypeB]","[412, 504, 587, 398]","[460, 551, 642, 432]","[48, 47, 55, 34]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-02-02]","[2022-04-05, 2022-07-05, 2022-10-04, 2022-03-08]"
...,...,...,...,...,...,...,...,...
1579,2496,"[8, 13, 18, 17, 14]","[TypeA, TypeA, TypeA, TypeB, TypeC]","[412, 504, 587, 575, 531]","[460, 551, 642, 607, 596]","[48, 47, 55, 32, 65]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-07-2...","[2022-04-05, 2022-07-05, 2022-10-04, 2022-08-3..."
1580,2497,"[8, 13, 18]","[TypeA, TypeA, TypeA]","[412, 504, 587]","[460, 551, 642]","[48, 47, 55]","[2022-02-16, 2022-05-19, 2022-08-10]","[2022-04-05, 2022-07-05, 2022-10-04]"
1581,2498,"[8, 13, 18, 16, 17, 6]","[TypeA, TypeA, TypeA, TypeB, TypeB, TypeC]","[412, 504, 587, 561, 575, 393]","[460, 551, 642, 593, 607, 425]","[48, 47, 55, 32, 32, 32]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-07-1...","[2022-04-05, 2022-07-05, 2022-10-04, 2022-08-1..."
1582,2499,"[8, 18]","[TypeA, TypeA]","[412, 587]","[460, 642]","[48, 55]","[2022-02-16, 2022-08-10]","[2022-04-05, 2022-10-04]"
1583,2500,"[8, 13, 18, 9, 10, 17, 19, 20]","[TypeA, TypeA, TypeA, TypeB, TypeB, TypeB, Typ...","[412, 504, 587, 435, 463, 575, 603, 615]","[460, 551, 642, 467, 495, 607, 635, 685]","[48, 47, 55, 32, 32, 32, 32, 70]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-03-1...","[2022-04-05, 2022-07-05, 2022-10-04, 2022-04-1..."

## Coupon

In [99]:
coupon

,coupon_upc,product_id,household_key,day,campaign,trans_date,is_coupon_redeemed
0,10000089061,27160,NaN,NaN,NaN,NaN,False
1,10000089064,27754,1773.0,439.0,9.0,2022-03-15,True
2,10000089064,27754,321.0,446.0,9.0,2022-03-22,True
3,10000089073,28897,2462.0,481.0,12.0,2022-04-26,True
4,10000089073,28897,2451.0,479.0,12.0,2022-04-24,True
...,...,...,...,...,...,...,...
2334727,10000085477,13213390,490.0,607.0,18.0,2022-08-30,True
2334728,10000085477,13213390,367.0,596.0,18.0,2022-08-19,True
2334729,10000085477,13213390,305.0,608.0,18.0,2022-08-31,True
2334730,10000085477,13213390,164.0,597.0,18.0,2022-08-20,True
2334731,10000085477,13213390,104.0,614.0,18.0,2022-09-06,True

In [98]:
coupon.isna().sum()

coupon_upc                0
product_id                0
household_key         16291
day                   16291
campaign              16291
trans_date            16291
is_coupon_redeemed        0
dtype: int64

In [96]:
coupon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2334732 entries, 0 to 2334731
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   coupon_upc          int64
 1   product_id          int64
 2   household_key       float64
 3   day                 float64
 4   campaign            float64
 5   trans_date          object
 6   is_coupon_redeemed  bool
dtypes: bool(1), float64(3), int64(2), object(1)
memory usage: 109.1+ MB

In [97]:
coupon['household_key'] = coupon['household_key'].astype(int)
coupon['day'] = coupon['day'].astype(int)
coupon['campaign'] = coupon['campaign'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [102]:
coupon[coupon['is_coupon_redeemed'] == False]

,coupon_upc,product_id,household_key,day,campaign,trans_date,is_coupon_redeemed
0,10000089061,27160,NaN,NaN,NaN,NaN,False
40,52100020075,28929,NaN,NaN,NaN,NaN,False
66,52100020075,29096,NaN,NaN,NaN,NaN,False
123,51111090125,29479,NaN,NaN,NaN,NaN,False
127,10000089061,29977,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...
2332390,52770031050,1956367,NaN,NaN,NaN,NaN,False
2332391,52770031050,870101,NaN,NaN,NaN,NaN,False
2332392,52770031050,110028,NaN,NaN,NaN,NaN,False
2332393,52770031050,1111344,NaN,NaN,NaN,NaN,False
2332394,52770031050,1949053,NaN,NaN,NaN,NaN,False

In [100]:
coupons_per_household = coupon.groupby('household_key').agg({
    'coupon_upc': lambda x: list(x),
    'product_id': lambda x: list(x),
    'day': lambda x: list(x),            
    'campaign': lambda x: list(x),               
    'trans_date': lambda x: list(x),     
    'is_coupon_redeemed': lambda x: list(x)                    
}).reset_index()

coupons_per_household.sort_values(by= 'household_key')

,household_key,coupon_upc,product_id,day,campaign,trans_date,is_coupon_redeemed
0,1.0,"[51700010076, 51700010076, 51700010076, 517000...","[941769, 910635, 2590252, 955797, 1027330, 639...","[421.0, 421.0, 421.0, 421.0, 421.0, 421.0, 421...","[8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, ...","[2022-02-25, 2022-02-25, 2022-02-25, 2022-02-2...","[True, True, True, True, True, True, True, Tru..."
1,8.0,"[53600000078, 53600000078, 53600000078, 536000...","[84925, 933354, 1047106, 701168, 834826, 94195...","[422.0, 422.0, 422.0, 422.0, 422.0, 422.0, 422...","[8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, ...","[2022-02-26, 2022-02-26, 2022-02-26, 2022-02-2...","[True, True, True, True, True, True, True, Tru..."
2,13.0,"[51600070033, 51600070033, 51600070033, 518000...","[29340, 30699, 31999, 32272, 32918, 34742, 358...","[512.0, 512.0, 512.0, 651.0, 651.0, 651.0, 512...","[13.0, 13.0, 13.0, 22.0, 22.0, 22.0, 13.0, 22....","[2022-05-27, 2022-05-27, 2022-05-27, 2022-10-1...","[True, True, True, True, True, True, True, Tru..."
3,14.0,"[52740022050, 52740022050, 52740022050, 527400...","[2648872, 76743, 1813286, 927291, 1440232, 613...","[540.0, 540.0, 540.0, 540.0, 540.0, 540.0, 540...","[13.0, 13.0, 13.0, 13.0, 13.0, 13.0, 13.0, 13....","[2022-06-24, 2022-06-24, 2022-06-24, 2022-06-2...","[True, True, True, True, True, True, True, Tru..."
4,18.0,"[10000085429, 10000085429, 10000085429, 100000...","[1085765, 12673308, 316011, 1049788, 1164410, ...","[515.0, 515.0, 515.0, 515.0, 515.0, 515.0, 515...","[13.0, 13.0, 13.0, 13.0, 13.0, 13.0, 13.0, 13....","[2022-05-30, 2022-05-30, 2022-05-30, 2022-05-3...","[True, True, True, True, True, True, True, Tru..."
...,...,...,...,...,...,...,...
429,2488.0,"[54800110055, 54800110055, 54800110055, 548001...","[75637, 75637, 75637, 75637, 75637, 75637, 756...","[565.0, 565.0, 565.0, 565.0, 565.0, 565.0, 565...","[14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14....","[2022-07-19, 2022-07-19, 2022-07-19, 2022-07-1...","[True, True, True, True, True, True, True, Tru..."
430,2489.0,"[52100000076, 52100026076, 52100000076, 521000...","[28929, 28929, 29096, 29096, 29340, 30699, 319...","[357.0, 357.0, 357.0, 357.0, 505.0, 505.0, 505...","[30.0, 30.0, 30.0, 30.0, 13.0, 13.0, 13.0, 30....","[2021-12-23, 2021-12-23, 2021-12-23, 2021-12-2...","[True, True, True, True, True, True, True, Tru..."
431,2494.0,"[54133500050, 54133500050, 54133500050, 541335...","[771115, 831300, 1045472, 5567421, 5669445, 93...","[635.0, 635.0, 635.0, 635.0, 635.0, 635.0, 635...","[18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18....","[2022-09-27, 2022-09-27, 2022-09-27, 2022-09-2...","[True, True, True, True, True, True, True, Tru..."
432,2496.0,"[52100023024, 57045970076, 57045970076, 570459...","[79289, 106388, 106388, 106388, 153687, 159721...","[592.0, 424.0, 424.0, 424.0, 592.0, 592.0, 592...","[18.0, 8.0, 8.0, 8.0, 18.0, 18.0, 18.0, 8.0, 8...","[2022-08-15, 2022-02-28, 2022-02-28, 2022-02-2...","[True, True, True, True, True, True, True, Tru..."
433,2500.0,"[53663200076, 53663200076, 53663200076, 536632...","[48203, 52673, 867138, 970160, 1047076, 109594...","[449.0, 449.0, 449.0, 449.0, 449.0, 449.0, 449...","[8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, ...","[2022-03-25, 2022-03-25, 2022-03-25, 2022-03-2...","[True, True, True, True, True, True, True, Tru..."

## Product

In [117]:
prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92338 entries, 0 to 92337
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  92338 non-null  int64
 1   manufacturer                92338 non-null  int64
 2   department                  92338 non-null  object
 3   brand                       92338 non-null  object
 4   commodity_desc              92338 non-null  object
 5   sub_commodity_desc          92338 non-null  object
 6   curr_size_of_product        92338 non-null  object
 7   curr_size_of_product_value  61079 non-null  float64
 8   curr_size_of_product_units  92338 non-null  object
 9   brand_bin                   92338 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 6.4+ MB

In [108]:
#prod['brand'].unique()
prod['brand_bin'] = prod['brand'].replace({
    'National': True,
    'Private': False
})

C:\Users\aprataso\AppData\Local\Temp\ipykernel_16772\3423060936.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  prod['brand_bin'] = prod['brand'].replace({

In [114]:
prod[prod['commodity_desc'] == ' ']

Empty DataFrame
Columns: [product_id, manufacturer, department, brand, commodity_desc, sub_commodity_desc, curr_size_of_product, curr_size_of_product_value, curr_size_of_product_units, brand_bin]
Index: []

drop products w/o commodity & sub_commodity

In [116]:
prod = prod[prod['commodity_desc'] != ' '].reset_index(drop=True)