In [10]:
import pandas as pd
import numpy as np

In [62]:
hh = pd.read_csv("C:/Users/aprataso/Downloads/final_data/hh_demographic_enriched.csv")
transaction = pd.read_csv("C:/Users/aprataso/Downloads/final_data/transaction_data_enriched.csv")
campaign = pd.read_csv("C:/Users/aprataso/Downloads/final_data/campaign_enriched.csv")
prod = pd.read_csv("C:/Users/aprataso/Downloads/final_data/product_enriched.csv")
coupon = pd.read_csv("C:/Users/aprataso/Downloads/final_data/coupon_enriched.csv")

In [33]:
list_ =[hh, transaction, campaign, prod, coupon]

for i, df in enumerate(list_):
    print(df.describe())
    print(f'\n')

       household_key  adult_category_size
count     801.000000           728.000000
mean     1235.176030             1.607143
std       736.804647             0.488721
min         1.000000             1.000000
25%       596.000000             1.000000
50%      1218.000000             2.000000
75%      1914.000000             2.000000
max      2499.000000             2.000000


       household_key     basket_id           day    product_id      quantity  \
count   2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06
mean    1.271953e+03  3.402620e+10  3.887562e+02  2.891435e+06  1.004286e+02
std     7.260660e+02  4.711649e+09  1.897210e+02  3.837404e+06  1.153436e+03
min     1.000000e+00  2.698485e+10  1.000000e+00  2.567100e+04  0.000000e+00
25%     6.560000e+02  3.040805e+10  2.290000e+02  9.174590e+05  1.000000e+00
50%     1.272000e+03  3.276081e+10  3.900000e+02  1.028816e+06  1.000000e+00
75%     1.913000e+03  4.012685e+10  5.530000e+02  1.133018e+06  1.000000e+00
max     2.500000e+03  4.230536e+10  7.110000e+02  1.831630e+07  8.963800e+04

        sales_value      store_id   retail_disc    trans_time       week_no  \
count  2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06
mean   3.104120e+00  3.142673e+03 -5.387054e-01  1.561586e+03  5.622150e+01
std    4.182274e+00  8.937113e+03  1.249191e+00  3.998378e+02  2.710223e+01
min    0.000000e+00  1.000000e+00 -1.800000e+02  0.000000e+00  1.000000e+00
25%    1.290000e+00  3.300000e+02 -6.900000e-01  1.308000e+03  3.300000e+01
50%    2.000000e+00  3.720000e+02 -1.000000e-02  1.613000e+03  5.600000e+01
75%    3.490000e+00  4.220000e+02  0.000000e+00  1.843000e+03  8.000000e+01
max    8.400000e+02  3.428000e+04  3.990000e+00  2.359000e+03  1.020000e+02

        coupon_disc  coupon_match_disc  sales_value_eu  loyalty_card_price  \
count  2.595732e+06       2.595732e+06    2.595732e+06        2.581266e+06
mean  -1.641600e-02      -2.918564e-03    3.321852e+00        2.842648e+00
std    2.168410e-01       3.969004e-02    4.474974e+00        3.017948e+00
min   -5.593000e+01      -7.700000e+00    0.000000e+00       -4.700000e-01
25%    0.000000e+00       0.000000e+00    1.380000e+00        1.290000e+00
50%    0.000000e+00       0.000000e+00    2.140000e+00        2.190000e+00
75%    0.000000e+00       0.000000e+00    3.730000e+00        3.490000e+00
max    0.000000e+00       0.000000e+00    8.988000e+02        5.499900e+02

       non_loyalty_card_price         days_
count            2.581266e+06  2.595732e+06
mean             2.439429e+00  3.887562e+02
std              2.720569e+00  1.897210e+02
min              0.000000e+00  1.000000e+00
25%              1.000000e+00  2.290000e+02
50%              1.940000e+00  3.900000e+02
75%              2.990000e+00  5.530000e+02
max              4.999900e+02  7.110000e+02


          campaign    start_day      end_day  household_key  campaign_duration
count  7208.000000  7208.000000  7208.000000    7208.000000        7208.000000
mean     15.659545   488.397752   533.898724    1268.696726          45.500971
std       6.949705   113.294910   115.544717     731.936391          11.708238
min       1.000000   224.000000   264.000000       1.000000          32.000000
25%       9.000000   412.000000   460.000000     644.000000          34.000000
50%      14.000000   504.000000   551.000000    1263.000000          47.000000
75%      20.000000   587.000000   642.000000    1924.000000          53.000000
max      30.000000   659.000000   719.000000    2500.000000         161.000000


         product_id  manufacturer  curr_size_of_product_value
count  9.235300e+04   92353.00000                6.107900e+04
mean   5.328353e+06    1739.22833                2.085982e+04
std    5.359937e+06    1818.26957                9.364064e+05
min    2.567100e+04       1.00000                0.000000e+00
25%    9.706280e+05     328.00000                6.000000e+00
50%    1.621091e+06    1094.00000                1.200000e+01
75%    9.704770e+06    2264.00000                1.900000e+01
max    1.831630e+07    6477.00000                8.371871e+07


         coupon_upc    product_id  household_key           day      campaign
count  2.334732e+06  2.334732e+06   2.318441e+06  2.318441e+06  2.318441e+06
mean   1.392684e+10  4.691254e+06   1.347660e+03  5.443067e+02  1.460129e+01
std    1.250159e+10  4.940094e+06   7.504984e+02  7.083763e+01  4.012291e+00
min    1.000009e+10  2.567100e+04   1.000000e+00  2.250000e+02  1.000000e+00
25%    1.000009e+10  9.573450e+05   6.920000e+02  5.090000e+02  1.300000e+01
50%    1.000009e+10  1.423340e+06   1.421000e+03  5.410000e+02  1.300000e+01
75%    1.000009e+10  9.196585e+06   2.007000e+03  6.050000e+02  1.800000e+01
max    5.998660e+10  1.814854e+07   2.500000e+03  7.040000e+02  3.000000e+01

HH_demographic

In [76]:
hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   marital_status_code  801 non-null    object
 1   homeowner_desc       801 non-null    object
 2   hh_comp_desc         801 non-null    object
 3   household_key        801 non-null    int64
 4   age_group            801 non-null    object
 5   adult_category_size  728 non-null    float64
 6   has_kids             426 non-null    object
 7   avg_age              801 non-null    float64
 8   avg_income           801 non-null    int64
 9   n_kids               243 non-null    float64
 10  n_household          801 non-null    int64
dtypes: float64(3), int64(3), object(5)
memory usage: 69.0+ KB

In [63]:
hh['has_kids'] = hh['has_kids'].replace({
    'Yes': True,
    'No': False,
    'unknown': None
})

Age

In [64]:
hh['min_age'] = hh['age_desc'].str[:2]
hh['max_age'] = hh['age_desc'].apply(lambda x: x[-2:] if len(x) > 3 else 65)

hh['min_age'] = hh['min_age'].astype('int')
hh['min_age'].unique()

array([65, 45, 25, 35, 19, 55])

In [65]:
hh['max_age'] = hh['max_age'].astype(int)
hh['max_age'].unique()

array([65, 54, 34, 44, 24, 64])

In [66]:
hh['avg_age'] = (hh['min_age'] + hh['max_age']) / 2

Income

In [67]:
hh['income_'] = hh['income_desc'].str.findall(r'\d+')
hh['income_'] = hh['income_'].apply(lambda x: list(map(int, x)) if x else [])
hh[['income_', 'income_desc']]

      income_ income_desc
0    [35, 49]      35-49K
1    [50, 74]      50-74K
2    [25, 34]      25-34K
3    [75, 99]      75-99K
4    [50, 74]      50-74K
..        ...         ...
796  [50, 74]      50-74K
797  [75, 99]      75-99K
798  [35, 49]      35-49K
799  [50, 74]      50-74K
800      [15]   Under 15K

[801 rows x 2 columns]

In [68]:
hh['avg_income'] = hh['income_'].apply(lambda x: sum(x) / len(x) * 1000 if len(x) > 0 else None)
hh['avg_income'] = hh['avg_income'].astype(int)
hh['avg_income']

0      42000
1      62000
2      29500
3      87000
4      62000
       ...
796    62000
797    87000
798    42000
799    62000
800    15000
Name: avg_income, Length: 801, dtype: int64

Category Sizes

In [69]:
hh['n_kids'] = hh['kid_category_desc'].replace({
    '1': 1,
    '2': 2,
    '3+': 3,
    'None/Unknown': None
})

C:\Users\aprataso\AppData\Local\Temp\ipykernel_16772\1066555400.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hh['n_kids'] = hh['kid_category_desc'].replace({

In [70]:
hh['n_kids'] = hh['kid_category_desc'].replace({
    '1': 1,
    '2': 2,
    '3+': 3,
    'None/Unknown': None
})

C:\Users\aprataso\AppData\Local\Temp\ipykernel_16772\1066555400.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hh['n_kids'] = hh['kid_category_desc'].replace({

In [74]:
hh['n_household'] = hh['household_size_desc'].replace({
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5+': 5
})

C:\Users\aprataso\AppData\Local\Temp\ipykernel_16772\1114001840.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hh['n_household'] = hh['household_size_desc'].replace({

In [73]:
hh['household_size_desc'].unique()

array(['2', '3', '4', '1', '5+'], dtype=object)

In [75]:
hh = hh.drop(['marital_status', 'min_age', 'max_age', 'income_', 'income_desc', 
              'age_desc', 'household_size_desc', 'kid_category_desc'], axis = 1)